In [1]:
import pandas as pd
from selenium import webdriver

In [3]:
%cd /Users/genevieveberent/Desktop/Zak_Portfolio/PGA_Masters

/Users/genevieveberent/Desktop/Zak_Portfolio/PGA_Masters

## Fairways in Regulation

In [4]:
driver = webdriver.Chrome()
driver.get('http://2014.masters.com/en_US/scores/stats/fir.html')

In [5]:
## FIR Player list

fir2014_players = []

## first xpath: //*[@id="roundStatsData"]/div[1]/div[1]/a
## last xpath:  //*[@id="roundStatsData"]/div[97]/div[1]/a

for i in range(98):
    path = '//*[@id="roundStatsData"]/div[' + str(i) + ']/div[1]/a'
    fir_players = driver.find_elements_by_xpath(path)
    
    for player in fir_players:
        fir2014_players.append(player.text)
        
print(len(fir2014_players))

97

In [6]:
## FIR Stat list

fir2014_stats = []

## class name = 'total'

fir_stats = driver.find_elements_by_class_name('total')

for stat in fir_stats:
    fir2014_stats.append(stat.text)
    
print(len(fir2014_stats))

97

In [7]:
## FIR dataframe

fir_2014 = pd.DataFrame.from_dict({'Player': fir2014_players, 'FIR': fir2014_stats})

In [10]:
## Percent as a float

fir_2014['FIR'] = fir_2014['FIR'].map(lambda x:str(x)[-6:-1])

In [15]:
## Rank all players by FIR

fir_2014['FIR Rank'] = fir_2014['FIR'].rank(method='min', ascending=False)

In [16]:
fir_2014.head()

        Player    FIR  FIR Rank
0   M. Jimenez  85.71       1.0
1     J. Furyk  82.14       3.0
2    B. Langer  80.36       8.0
3  B. De jonge  78.57       9.0
4      C. Kirk  78.57       9.0

In [17]:
## Save

fir_2014.to_csv('2014_FIR.csv')

## Greens in Regulation

In [18]:
driver.get('http://2014.masters.com/en_US/scores/stats/gir.html')

In [19]:
## GIR Player list

gir2014_players = []

# xpath: //*[@id="roundStatsData"]/div[1]/div[1]/a

for i in range(98):
    path = '//*[@id="roundStatsData"]/div[' + str(i) + ']/div[1]/a'
    gir_players = driver.find_elements_by_xpath(path)
    
    for player in gir_players:
        gir2014_players.append(player.text)
        
print(len(gir2014_players))

97

In [20]:
## GIR Stats list

gir2014_stats = []

# class name: total

gir_stats = driver.find_elements_by_class_name('total')

for stat in gir_stats:
    gir2014_stats.append(stat.text)
    
print(len(gir2014_stats))

97

In [21]:
## GIR dataframe

gir_2014 = pd.DataFrame.from_dict({'Player': gir2014_players, 'GIR': gir2014_stats})

In [24]:
gir_2014['GIR'] = gir_2014['GIR'].map(lambda x:str(x)[-6:-1])

In [26]:
gir_2014['GIR Rank'] = gir_2014['GIR'].rank(method='min', ascending=False)

In [27]:
gir_2014.head()

        Player    GIR  GIR Rank
0    J. Spieth  73.61       1.0
1  B. Horschel  72.22       2.0
2   R. Mcilroy  72.22       2.0
3    J. Walker  70.83       4.0
4    B. Watson  69.44       5.0

In [28]:
## Save

gir_2014.to_csv('2014_GIR.csv')

## Driving Distance

In [29]:
driver.get('http://2014.masters.com/en_US/scores/stats/drives_avg.html')

In [30]:
## dist Player list

dist2014_players = []

## xpath: //*[@id="roundStatsData"]/div[1]/div[1]/a

for i in range(98):
    path = '//*[@id="roundStatsData"]/div[' + str(i) + ']/div[1]/a'
    dist_players = driver.find_elements_by_xpath(path)
    
    for player in dist_players:
        dist2014_players.append(player.text)

print(len(dist2014_players))

97

In [31]:
## dist stats list

dist2014_stats = []

# class name: total

dist_stats = driver.find_elements_by_class_name('total')

for stat in dist_stats:
    dist2014_stats.append(stat.text)
    
print(len(dist2014_stats))

97

In [32]:
## dist Dataframe

dist_2014 = pd.DataFrame.from_dict({'Player': dist2014_players, 'dist': dist2014_stats})

In [36]:
dist_2014['dist Rank'] = dist_2014['dist'].rank(method='min', ascending=False)

In [37]:
dist_2014.head()

          Player    dist  dist Rank
0      B. Watson  305.62        1.0
1     R. Mcilroy  304.00        2.0
2  L. Oosthuizen  303.12        3.0
3       H. Mahan  301.25        4.0
4    S. Bowditch  299.25        5.0

In [38]:
## Save

dist_2014.to_csv('2014_dist.csv')

## Putting

In [39]:
driver.get('http://2014.masters.com/en_US/scores/stats/putts.html')

In [40]:
## Putting Players list

putt2014_players = []

# xpath: //*[@id="roundStatsData"]/div[1]/div[1]/a

for i in range(98):
    path = '//*[@id="roundStatsData"]/div[' +str(i) + ']/div[1]/a'
    putt_players = driver.find_elements_by_xpath(path)
    
    for player in putt_players:
        putt2014_players.append(player.text)
        
print(len(putt2014_players))

97

In [41]:
## Putting stats list

putt2014_stats = []

# Class name: total

putt_stats = driver.find_elements_by_class_name('total')

for stat in putt_stats:
    putt2014_stats.append(stat.text)
    
print(len(putt2014_stats))

97

In [42]:
## Putting dataframe

putt_2014 = pd.DataFrame.from_dict({'Player': putt2014_players, 'Putting': putt2014_stats})

In [44]:
## Get rid of 3 putts in ()

putt_2014['Putting'] = putt_2014['Putting'].map(lambda x:x[:4])

In [46]:
putt_2014['Putting Rank'] = putt_2014['Putting'].rank(method='min')

In [48]:
putt_2014.head()

          Player Putting  Putting Rank
0      L. Donald    1.44           1.0
1      R. Fowler    1.50           2.0
2         C. Lee    1.50           2.0
3  C. Schwartzel    1.50           2.0
4      R. Henley    1.51           5.0

In [49]:
## Save

putt_2014.to_csv('2014_Putting.csv')

## Tournament Results

In [50]:
driver.get('https://www.google.com/search?client=safari&rls=en&q=2014+masters+leaderboard&ie=UTF-8&oe=UTF-8')

In [57]:
## Results Player List 

final2014_players = []

# class name: tsp-tln

final_players = driver.find_elements_by_class_name('tsp-tln')

for player in final_players:
    final2014_players.append(player.text)
    
print(len(final2014_players))

97

In [58]:
## Results Position list

final2014_positions = []

# class name: tsp-ftdg

final_positions = driver.find_elements_by_class_name('tsp-ftdg')

for pos in final_positions:
    final2014_positions.append(pos.text)
    
print(len(final2014_positions))

97

In [76]:
## Final Score of players

final2014_scores = []

# xpath: //*[@id="/g/11f54308xv"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[1]/table/tbody/tr[2]/td[6]/span
# xpath: //*[@id="/g/11f54308xv"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[2]/table/tbody/tr[46]/td[6]/span

for i in range(3):
    for j in range(1, 47):
        path = '//*[@id="/g/11f54308xv"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[' + str(i) + ']/table/tbody/tr[' + str(j) + ']/td[6]/span'
        final_scores = driver.find_elements_by_xpath(path)
        
        for score in final_scores:
            final2014_scores.append(score.text)
            
print(len(final2014_scores))

51

In [77]:
## Need to get the scores of the players that did not make the cut

cut_scores = ['+15', '+7', '+8', '+9', '+5', '+8', '+15',
             '+5', '+6', '+10', '+8', '+17', '+5', '+8',
             '+7', '+5', '+8', '+10', '+13', '+9', '+7', '+11',
             '+8', '+9', '+9', '+11', '+15', '+5', '+5', '+8',
             '+5', '+5', '+12', '+6', '+5', '+8', '+5', '+11',
             '+9', '+12', '+6', '+6', '+7', '+5', '+24', '+6']

final2014_scores = final2014_scores + cut_scores

print(len(final2014_scores))

97

In [98]:
final_2014 = pd.DataFrame.from_dict({'Player': final2014_players,
                                    'Position': final2014_positions,
                                    'Score': final2014_scores})

In [99]:
final_2014.head()

       Player Position Score
0   B. Watson        1    -8
1   J. Spieth       T2    -5
2    J. Blixt       T2    -5
3  M. Jiménez        4    -4
4   R. Fowler       T5    -2

In [100]:
## Get final position of the 'Cut' players

cut_players = final_2014[final_2014['Position'] == 'Cut']

In [101]:
cut_players['Int Score'] = cut_players['Score'].astype(int)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [102]:
cut_players['Position'] = (cut_players['Int Score'].rank(method='min')) + 51

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [103]:
cut_players.drop('Int Score', axis=1, inplace=True)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [104]:
cut_players.head()

          Player  Position Score
51     P. Hanson      93.0   +15
52  H. Matsuyama      68.0    +7
53      M. Jones      72.0    +8
54     R. Castro      80.0    +9
55        E. Els      52.0    +5

In [105]:
made_cut = final_2014[final_2014['Position'] != 'Cut']

In [143]:
made_cut['Cut'] = 0
cut_players['Cut'] = 1

In [144]:
final_2014 = pd.concat([made_cut, cut_players])

In [145]:
final_2014.shape

(97, 4)

In [147]:
final_2014.head()

       Player Position Score  Cut
0   B. Watson        1    -8    0
1   J. Spieth       T2    -5    0
2    J. Blixt       T2    -5    0
3  M. Jiménez        4    -4    0
4   R. Fowler       T5    -2    0

In [148]:
## Save

final_2014.to_csv('2014_Positions,csv')

## Putting it all Together

In [151]:
## Make the 'Player' column the index

fir_2014.index = fir_2014['Player']
gir_2014.index = gir_2014['Player']
dist_2014.index = dist_2014['Player']
putt_2014.index = putt_2014['Player']
final_2014.index = final_2014['Player']

In [152]:
stats_df = pd.concat([fir_2014, dist_2014, gir_2014, putt_2014], axis=1)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [153]:
stats_df.drop('Player', axis=1, inplace=True)

In [154]:
stats_df.shape

(97, 8)

In [155]:
stats_df.head()

,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank
A. Cabrera,57.14,87.0,281.25,70.0,61.11,29.0,1.75,76.0
A. Scott,58.93,82.0,298.38,6.0,66.67,11.0,1.69,60.0
B. Crenshaw,67.86,44.0,238.50,97.0,25.00,97.0,1.67,44.0
B. De jonge,78.57,9.0,285.00,58.0,58.33,44.0,1.61,22.0
B. Grace,53.57,93.0,280.75,73.0,44.44,89.0,1.61,22.0

In [119]:
all_players = set(list(stats_df.index) + list(final_2014.index))

In [120]:
len(all_players)

111

In [121]:
all_players

{'A. Cabrera',
 'A. Scott',
 'B. Crenshaw',
 'B. De jonge',
 'B. Grace',
 'B. Haas',
 'B. Horschel',
 'B. Langer',
 'B. Snedeker',
 'B. Watson',
 'B. Weekley',
 'B. de Jonge',
 'C. Kirk',
 'C. Lee',
 'C. Schwartzel',
 'C. Stadler',
 'C.W. Lee',
 'D. Clarke',
 'D. Ernst',
 'D. Johnson',
 'D. Lynn',
 'D. Points',
 'E. Els',
 'F. Couples',
 'F. Molinari',
 'G. DeLaet',
 'G. Fdez-Castano',
 'G. Fernández-Castaño',
 'G. McDowell',
 'G. Mcdowell',
 'G. Porteous',
 'G. Woodland',
 'H. English',
 'H. Mahan',
 'H. Matsuyama',
 'H. Stenson',
 'I. Poulter',
 'I. Woosnam',
 'J. Blixt',
 'J. Day',
 'J. Donaldson',
 'J. Dufner',
 'J. Furyk',
 'J. Huh',
 'J. Luiten',
 'J. Niebrugge',
 'J. Olazabal',
 'J. Olazábal',
 'J. Rose',
 'J. Senden',
 'J. Spieth',
 'J. Walker',
 'K. Bradley',
 'K. Choi',
 'K. Duke',
 'K. J. Choi',
 'K. Stadler',
 'K. Streelman',
 'L. Donald',
 'L. Glover',
 'L. Mize',
 'L. Oosthuizen',
 'L. Westwood',
 'M. Every',
 'M. Fitzpatrick',
 'M. Jimenez',
 'M. Jiménez',
 'M. Jones',
 'M. Kaymer',
 'M. Kuchar',
 'M. Leishman',
 'M. Manassero',
 'M. McCoy',
 'M. Mccoy',
 "M. O'Meara",
 'M. Weir',
 'N. Watney',
 'O. Goss',
 'P. Hanson',
 'P. Mickelson',
 'P. Reed',
 'R. Castro',
 'R. Fowler',
 'R. Henley',
 'R. McIlroy',
 'R. Mcilroy',
 'R. Moore',
 'S. Bae',
 'S. Bowditch',
 'S. Cink',
 'S. Gallacher',
 'S. Garcia',
 'S. García',
 'S. Lyle',
 'S. Stallings',
 'S. Stricker',
 'S.M. Bae',
 'T. Bjorn',
 'T. Bjørn',
 'T. Clark',
 'T. Immelman',
 'T. Jaidee',
 'T. Olesen',
 'T. Watson',
 'T.Immelman',
 'V. Dubuisson',
 'V. Singh',
 'W. Simpson',
 'Y. Yang',
 'Z. Johnson',
 'Á. Cabrera'}

In [158]:
new_names = {'B. De jonge': 'B. de Jonge',
             'C. Lee': 'C.W. Lee',
             'G. Fdez-Castano': 'G. Fernández-Castaño',
             'G. Mcdowell': 'G. McDowell',
             'J. Olazabal': 'J. Olazábal',
             'K. Choi': 'K. J. Choi',
             'M. Jimenez': 'M. Jiménez',
             'M. Mccoy': 'M. McCoy',
             'R. Mcilroy': 'R. McIlroy',
             'S. Garcia': 'S. García',
             'S. Bae': 'S.M. Bae',
             'T. Bjorn': 'T. Bjørn',
             'A. Cabrera': 'Á. Cabrera',
             'T.Immelman': 'T. Immelman'}

stats_df = stats_df.rename(index=new_names)

In [159]:
all_players = set(list(stats_df.index) + list(final_2014.index))
len(all_players)

97

In [160]:
masters_2014 = pd.concat([final_2014, stats_df], axis=1)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [161]:
masters_2014.shape

(97, 12)

In [162]:
masters_2014.drop('Player', axis=1, inplace=True)

In [163]:
masters_2014['Score'] = masters_2014['Score'].replace({'E':0})

In [164]:
masters_2014['Position'] = masters_2014['Position'].apply(lambda x:str(x).strip('T'))

In [165]:
masters_2014.head()

,Position,Score,Cut,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank
A. Scott,14,+1,0,58.93,82.0,298.38,6.0,66.67,11.0,1.69,60.0
B. Crenshaw,97.0,+24,1,67.86,44.0,238.50,97.0,25.00,97.0,1.67,44.0
B. Grace,80.0,+9,1,53.57,93.0,280.75,73.0,44.44,89.0,1.61,22.0
B. Haas,20,+2,0,67.86,44.0,286.62,50.0,65.28,14.0,1.68,54.0
B. Horschel,37,+7,0,66.07,57.0,290.12,33.0,72.22,2.0,1.82,88.0

In [166]:
masters_2014['Year'] = 2014

In [167]:
## Save
masters_2014.to_csv('Masters_2014.csv')

In [168]:
driver.close()