In [2]:
%cd /Users/genevieveberent/Desktop/Zak_Portfolio/PGA_Masters

/Users/genevieveberent/Desktop/Zak_Portfolio/PGA_Masters

In [3]:
import pandas as pd
import numpy as np
from selenium import webdriver

## Fairways in Regulation

In [32]:
## Initiate the webdriver and open our website

driver = webdriver.Chrome()
driver.get('http://2015.masters.com/en_US/scores/stats/fir.html')

In [33]:
## Get the list of player names from the website

fir2015_players = []

# first xpath: //*[@id="table-6714"]/tbody/tr[1]/td[1]/a
# last xpath:  //*[@id="table-6714"]/tbody/tr[97]/td[1]/a

for i in range(98):
    path = '//*[@id="table-6714"]/tbody/tr[' + str(i) + ']/td[1]/a'
    fir_players = driver.find_elements_by_xpath(path)
    for player in fir_players:
        fir2015_players.append(player.text)
        
print(len(fir2015_players))

97

In [34]:
## The FIR stats in the same order of the players

fir2015_stats = []

# last xpath:  //*[@id="table-6714"]/tbody/tr[97]/td[6]

for i in range(98):
    path = '//*[@id="table-6714"]/tbody/tr[' + str(i) + ']/td[6]'
    fir_stats = driver.find_elements_by_xpath(path)
    for stat in fir_stats:
        fir2015_stats.append(stat.text)
        
print(len(fir2015_stats))

97

In [35]:
## Create FIR dataframe

fir_2015 = pd.DataFrame.from_dict({'Player': fir2015_players, 'FIR': fir2015_stats})

In [36]:
## Get just the percent of FIR as numerical value

fir_2015['FIR'] = fir_2015['FIR'].map(lambda x:str(x)[-6:-1])

In [37]:
## Rank each player by their FIR%

fir_2015['FIR Rank'] = fir_2015['FIR'].rank(method='min', ascending=False)

In [38]:
fir_2015.head()

         Player    FIR  FIR Rank
0    M. O'Meara  85.71       1.0
1      R. Moore  85.71       1.0
2  K. Streelman  85.71       1.0
3    H. Stenson  80.36       6.0
4       B. Haas  80.36       6.0

In [39]:
## Save

fir_2015.to_csv('2015_fir.csv')

## Greens in Regulation

In [40]:
driver.get('http://2015.masters.com/en_US/scores/stats/gir.html')

In [41]:
## Get the list of players 

gir2015_players = []

# first xpath: //*[@id="table-2567"]/tbody/tr[1]/td[1]/a
# last xpath:  //*[@id="table-2567"]/tbody/tr[97]/td[1]/a

for i in range(98):
    path = '//*[@id="table-2567"]/tbody/tr[' + str(i) + ']/td[1]/a'
    gir_players = driver.find_elements_by_xpath(path)
    for player in gir_players:
        gir2015_players.append(player.text)
        
print(len(gir2015_players))

97

In [50]:
## Get the stats for the players just listed

gir2015_stats = []

# xpath: //*[@id="table-2567"]/tbody/tr[1]/td[6]

for i in range(98):
    path = '//*[@id="table-2567"]/tbody/tr[' + str(i) + ']/td[6]'
    gir_stats = driver.find_elements_by_xpath(path)
    for stat in gir_stats:
        gir2015_stats.append(stat.text)
        
print(len(gir2015_stats))

97

In [52]:
## Create a GIR dataframe

gir_2015 = pd.DataFrame.from_dict({'Player':gir2015_players, 'GIR':gir2015_stats})

In [53]:
## Get just the percent as a float

gir_2015['GIR'] = gir_2015['GIR'].map(lambda x:str(x)[-6:-1])

In [54]:
## Rank players by GIR%

gir_2015['GIR Rank'] = gir_2015['GIR'].rank(method='min', ascending=False)

In [55]:
gir_2015.head()

       Player    GIR  GIR Rank
0  I. Poulter  81.94       2.0
1   J. Spieth  75.00       4.0
2     J. Rose  75.00       4.0
3  R. Mcilroy  73.61       6.0
4  H. Stenson  72.22       7.0

In [56]:
## Save

gir_2015.to_csv('2015_gir.csv')

## Driving Distance

In [57]:
driver.get('http://2015.masters.com/en_US/scores/stats/drives_avg.html')

In [58]:
## Players

dist2015_players = []

# xpath: //*[@id="table-8945"]/tbody/tr[1]/td[1]/a

for i in range(98):
    path = '//*[@id="table-8945"]/tbody/tr[' + str(i) + ']/td[1]/a'
    dist_players = driver.find_elements_by_xpath(path)
    for player in dist_players:
        dist2015_players.append(player.text)
        
print(len(dist2015_players))

97

In [59]:
## Distance stats

dist2015_stats = []

# xpath: //*[@id="table-8945"]/tbody/tr[97]/td[6]

for i in range(98):
    path = '//*[@id="table-8945"]/tbody/tr[' + str(i) + ']/td[6]'
    dist_stats = driver.find_elements_by_xpath(path)
    for stat in dist_stats:
        dist2015_stats.append(stat.text)
        
print(len(dist2015_stats))

97

In [60]:
## Create the Driving Distance dataframe

dist_2015 = pd.DataFrame.from_dict({'Player': dist2015_players, 'dist': dist2015_stats})

In [61]:
## Rank the players by their Driving Distance

dist_2015['dist Rank'] = dist_2015['dist'].rank(method='min', ascending=False)

In [62]:
dist_2015.head()

       Player    dist  dist Rank
0  D. Johnson  315.50        1.0
1      J. Day  307.88        2.0
2   J. Walker  302.12        4.0
3    A. Scott  299.75        5.0
4   B. Watson  299.62        7.0

In [63]:
## Save

dist_2015.to_csv('2015_dist.csv')

## Putting Stats

In [64]:
## Open the website

driver.get('http://2015.masters.com/en_US/scores/stats/putts.html')

In [65]:
## Players

putt2015_players = []

# xpath: //*[@id="table-861"]/tbody/tr[1]/td[1]/a

for i in range(98):
    path = '//*[@id="table-861"]/tbody/tr[' + str(i) + ']/td[1]/a'
    putt_players = driver.find_elements_by_xpath(path)
    for player in putt_players:
        putt2015_players.append(player.text)
        
print(len(putt2015_players))

97

In [66]:
## Putting Stats

putt2015_stats = []

# xpath: //*[@id="table-861"]/tbody/tr[97]/td[6]

for i in range(98):
    path = '//*[@id="table-861"]/tbody/tr[' + str(i) + ']/td[6]'
    putt_stats = driver.find_elements_by_xpath(path)
    for stat in putt_stats:
        putt2015_stats.append(stat.text)
        
print(len(putt2015_stats))

97

In [67]:
## Create putting dataframe

putt_2015 = pd.DataFrame.from_dict({'Player': putt2015_players, 'Putting': putt2015_stats})

In [69]:
## Get rid of the number of 3 putts in ()

putt_2015['Putting'] = putt_2015['Putting'].map(lambda x:str(x)[:4])

In [71]:
putt_2015['Putting Rank'] = putt_2015['Putting'].rank(method='min')

In [72]:
putt_2015.head()

        Player Putting  Putting Rank
0   D. Johnson    1.47           1.0
1  S. Stricker    1.47           1.0
2    J. Spieth    1.50           3.0
3    J. Holmes    1.50           3.0
4    M. Kuchar    1.53           5.0

In [73]:
## Save

putt_2015.to_csv('2015_Putting.csv')

## Get scores and final position

In [80]:
driver.get('https://www.golfchannel.com/tours/pga-tour/2015/masters-tournament')

In [88]:
## Get Players

final2015_players = []

## Get players by class

final_players = driver.find_elements_by_class_name('leaderboard-full__name')

for player in final_players:
    final2015_players.append(player.text)
    
print(len(final2015_players))

97

In [87]:
final2015_players

['J. Spieth',
 'J. Rose',
 'P. Mickelson',
 'R. McIlroy',
 'H. Matsuyama',
 'I. Poulter',
 'D. Johnson',
 'P. Casey',
 'Z. Johnson',
 'C. Hoffman',
 'H. Mahan',
 'R. Moore',
 'K. Na',
 'B. Haas',
 'R. Fowler',
 'K. Streelman',
 'T. Woods',
 'S. Garcia',
 'H. Stenson',
 'L. Oosthuizen',
 'R. Henley',
 'K. Bradley',
 'A. Cabrera',
 'E. Els',
 "M. O'Meara",
 'P. Reed',
 'B. Wiesberger',
 'S. Stricker',
 'W. Simpson',
 'J. Blixt',
 'J. Day',
 'M. Hoffmann',
 'J. Donaldson',
 'S. Bae',
 'R. Palmer',
 'C. Kirk',
 'B. Koepka',
 'C. Schwartzel',
 'A. Scott',
 'J. Senden',
 'C. Tringale',
 'J. Walker',
 'B. Watson',
 'S. Noh',
 'D. Willett',
 'L. Westwood',
 'M. Kuchar',
 'G. Ogilvy',
 'J. Dufner',
 'A. Lahiri',
 'E. Compton',
 'D. Clarke',
 'G. McDowell',
 'V. Singh',
 'T. Jaidee',
 'G. Yang (a)',
 'G. Woodland',
 'I. Woosnam',
 'B. Grace',
 'T. Watson',
 'M. Weir',
 'C. Villegas',
 'B. Todd',
 'M. Jimenez',
 'M. Kaymer',
 'J. Holmes',
 'B. Horschel',
 'M. Ilonen',
 'T. Immelman',
 'J. Furyk',
 'S. Gallacher',
 'J. Hahn',
 'B. Harman',
 'P. Harrington',
 'S. Harvey (a)',
 'T. Bjorn',
 'C. Conners',
 'F. Couples',
 'B. Crane',
 'B. Crenshaw',
 'M. Every',
 'V. Dubuisson',
 'M. Dominguez (a)',
 'L. Donald',
 'B. Snedeker',
 'R. Streb',
 'K. Stadler',
 'J. Olazabal',
 'B. Martin',
 'B. Langer',
 'S. Lowry',
 'J. Luiten',
 'S. Lyle',
 'B. Neil (a)',
 'A. Murdaca',
 'B. Meth',
 'L. Mize']

In [94]:
## Get the position of each player

final2015_position = []

# xpath: //*[@id="leaderboard"]/main/div[1]/section/section/div[2]/div/div/p[1]
# xpath: //*[@id="leaderboard"]/main/div[1]/section/section/div[56]/div/div/p[1]

for i in range(2, 57):
    path = '//*[@id="leaderboard"]/main/div[1]/section/section/div[' + str(i) + ']/div/div/p[1]'
    final_position = driver.find_elements_by_xpath(path)

    for pos in final_position:
        final2015_position.append(pos.text)
        
## For missed cut players
# xpath: //*[@id="leaderboard"]/main/div[1]/section/section/div[57]/div/div[2]/p[1]
# xpath: //*[@id="leaderboard"]/main/div[1]/section/section/div[98]/div/div[1]/p[1]
    
for j in range(57, 99):
    path = '//*[@id="leaderboard"]/main/div[1]/section/section/div[' + str(j) + ']/div/div[1]/p[1]'
    final_position_missed = driver.find_elements_by_xpath(path)
    for pos in final_position_missed:
        final2015_position.append(pos.text)
    
print(len(final2015_position))

97

In [93]:
## Get the players final score for the tournament

final2015_score = []

# xpath: //*[@id="leaderboard"]/main/div[1]/section/section/div[2]/div/div/p[3]
# xpath: //*[@id="leaderboard"]/main/div[1]/section/section/div[98]/div/div/p[3]

for i in range(2, 99):
    path = '//*[@id="leaderboard"]/main/div[1]/section/section/div[' + str(i) + ']/div/div/p[3]'
    final_score = driver.find_elements_by_xpath(path)
    for score in final_score:
        final2015_score.append(score.text)
        
print(len(final2015_score))

97

In [95]:
## Dataframe for final position

final2015 = pd.DataFrame.from_dict({'Player': final2015_players,
                                   'Position': final2015_position,
                                   'Score': final2015_score})

In [115]:
## Add a column if the player got cut

final2015['Cut'] = np.where(final2015['Position'] == 'CUT', 1, 0)

In [116]:
## Get the final position of the players that were cut

missed_cut = final2015[final2015['Cut'] == 1]

In [118]:
missed_cut.head()

         Player Position Score  Cut
55  G. Yang (a)      CUT   +15    1
56  G. Woodland      CUT    +3    1
57   I. Woosnam      CUT    +5    1
58     B. Grace      CUT    +4    1
59    T. Watson      CUT    +8    1

In [119]:
missed_cut['Int Score'] = pd.to_numeric(missed_cut['Score'])

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [123]:
missed_cut['Position'] = (missed_cut['Int Score'].rank(method='min')) + 55

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [125]:
missed_cut.drop('Int Score', axis=1, inplace=True)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [127]:
## Get just the players that made the cut

final2015 = final2015[final2015['Cut'] == 0]

In [128]:
## Concatenate the players that made the cut with the new df of players that missed the cut

final2015 = pd.concat([final2015, missed_cut])

In [129]:
final2015.shape

(97, 4)

In [131]:
final2015.tail()

         Player Position Score  Cut
92      S. Lyle       77    +6    1
93  B. Neil (a)       92   +13    1
94   A. Murdaca       80    +7    1
95      B. Meth       77    +6    1
96      L. Mize       80    +7    1

In [132]:
## Save

final2015.to_csv('2015_Position.csv')

## Concatenate all the stats together

In [133]:
## Make the player name the index to concatenate on

fir_2015.index = fir_2015['Player']
gir_2015.index = gir_2015['Player']
dist_2015.index = dist_2015['Player']
putt_2015.index = putt_2015['Player']
final2015.index = final2015['Player']

In [134]:
stats = pd.concat([fir_2015, dist_2015, gir_2015, putt_2015], axis=1)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [135]:
stats.shape

(97, 12)

In [137]:
stats.drop('Player', axis=1, inplace=True)

In [138]:
stats.head()

,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank
A. Cabrera,51.79,91.0,297.75,8.0,63.89,34.0,1.60,23.0
A. Lahiri,62.50,63.0,296.38,11.0,68.06,20.0,1.76,83.0
A. Murdaca,57.14,75.0,299.75,5.0,50.00,83.0,1.56,9.0
A. Scott,66.07,45.0,299.75,5.0,61.11,56.0,1.62,37.0
B. Crane,75.00,17.0,277.50,76.0,58.33,66.0,1.81,91.0

In [146]:
## Check the list of names for different spelling

all_players = set(list(stats.index) + list(final2015.index))

In [141]:
len(all_players)

105

In [142]:
all_players

{'A. Cabrera',
 'A. Lahiri',
 'A. Murdaca',
 'A. Scott',
 'B. Crane',
 'B. Crenshaw',
 'B. Grace',
 'B. Haas',
 'B. Harman',
 'B. Horschel',
 'B. Koepka',
 'B. Langer',
 'B. Martin',
 'B. Meth',
 'B. Neil',
 'B. Neil (a)',
 'B. Snedeker',
 'B. Todd',
 'B. Watson',
 'B. Wiesberger',
 'C. Conners',
 'C. Hoffman',
 'C. Kirk',
 'C. Schwartzel',
 'C. Tringale',
 'C. Villegas',
 'D. Clarke',
 'D. Johnson',
 'D. Willett',
 'E. Compton',
 'E. Els',
 'F. Couples',
 'G. McDowell',
 'G. Mcdowell',
 'G. Ogilvy',
 'G. Woodland',
 'G. Yang',
 'G. Yang (a)',
 'H. Mahan',
 'H. Matsuyama',
 'H. Stenson',
 'I. Poulter',
 'I. Woosnam',
 'J. Blixt',
 'J. Day',
 'J. Donaldson',
 'J. Dufner',
 'J. Furyk',
 'J. Hahn',
 'J. Holmes',
 'J. Luiten',
 'J. Olazabal',
 'J. Rose',
 'J. Senden',
 'J. Spieth',
 'J. Walker',
 'K. Bradley',
 'K. Na',
 'K. Stadler',
 'K. Streelman',
 'L. Donald',
 'L. Mize',
 'L. Oosthuizen',
 'L. Westwood',
 'M. Dominguez',
 'M. Dominguez (a)',
 'M. Every',
 'M. Hoffmann',
 'M. Ilonen',
 'M. Jimenez',
 'M. Kaymer',
 'M. Kuchar',
 "M. O'Meara",
 'M. Weir',
 'M.Ilonen',
 'P. Casey',
 'P. Harrington',
 'P. Mickelson',
 'P. Reed',
 'R. Fowler',
 'R. Henley',
 'R. McIlroy',
 'R. Mcilroy',
 'R. Moore',
 'R. Palmer',
 'R. Streb',
 'S. Bae',
 'S. Gallacher',
 'S. Garcia',
 'S. Harvey',
 'S. Harvey (a)',
 'S. Lowry',
 'S. Lyle',
 'S. Noh',
 'S. Stricker',
 'T. Bjorn',
 'T. Immelman',
 'T. Jaidee',
 'T. Watson',
 'T. Woods',
 'T.Immelman',
 'V. Dubuisson',
 'V. Singh',
 'W. Simpson',
 'Z. Johnson'}

In [144]:
new_names = {'B. Neil': 'B. Neil (a)',
             'G. Mcdowell': 'G. McDowell',
             'G. Yang': 'G. Yang (a)',
             'M. Dominguez': 'M. Dominguez (a)',
             'M.Ilonen': 'M. Ilonen',
             'R. Mcilroy': 'R. McIlroy',
             'S. Harvey': 'S. Harvey (a)',
             'T.Immelman': 'T. Immelman'}

stats = stats.rename(index=new_names)

In [147]:
len(all_players)

97

In [148]:
masters2015 = pd.concat([final2015, stats], axis=1)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [151]:
masters2015.shape

(97, 12)

In [152]:
## Drop the 'Player' column from the final2015 df

masters2015.drop('Player', axis=1, inplace=True)

In [154]:
## Get rid of the T when players tied for position

masters2015['Position'] = masters2015['Position'].apply(lambda x:str(x).strip('T'))

In [156]:
## Change scores of 'E' (Even par) to 0 so we can work with numeric values

masters2015['Score'] = masters2015['Score'].replace({'E':0})

In [160]:
## Change the type of the columns to numeric values to analyze later

cols = ['FIR', 'FIR Rank', 'dist', 'dist Rank', 'GIR', 'GIR Rank', 'Putting',
       'Putting Rank', 'Position', 'Score', 'Cut']

masters2015[cols] = masters2015[cols].apply(pd.to_numeric, axis=1)

In [164]:
masters2015['Year'] = 2015

In [165]:
masters2015.head()

,Position,Score,Cut,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank,Year
A. Cabrera,22.0,-2.0,0.0,51.79,91.0,297.75,8.0,63.89,34.0,1.60,23.0,2015
A. Lahiri,49.0,4.0,0.0,62.50,63.0,296.38,11.0,68.06,20.0,1.76,83.0,2015
A. Murdaca,80.0,7.0,1.0,57.14,75.0,299.75,5.0,50.00,83.0,1.56,9.0,2015
A. Scott,38.0,1.0,0.0,66.07,45.0,299.75,5.0,61.11,56.0,1.62,37.0,2015
B. Crane,92.0,13.0,1.0,75.00,17.0,277.50,76.0,58.33,66.0,1.81,91.0,2015

In [166]:
## Save

masters2015.to_csv('Masters_2015.csv')

In [163]:
driver.close()