In [1]:
%cd /Users/genevieveberent/Desktop/Zak_Portfolio/PGA_Masters

/Users/genevieveberent/Desktop/Zak_Portfolio/PGA_Masters

In [4]:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np

In [5]:
driver = webdriver.Chrome()
driver.get('http://2016.masters.com/en_US/scores/stats/fir.html')

In [6]:
## Get the Fairways in Regulation stats

fir2016_players = []

# first xpath: //*[@id="table-2799"]/tbody/tr[1]/td[1]/a
# last xpath:  //*[@id="table-2799"]/tbody/tr[89]/td[1]/a

for i in range(90):
    path = '//*[@id="table-2799"]/tbody/tr[' + str(i) + ']/td[1]/a'
    fir_players = driver.find_elements_by_xpath(path)
    for player in fir_players:
        fir2016_players.append(player.text)

In [7]:
print(len(fir2016_players))
print(fir2016_players[:3])
print(fir2016_players[-3:])

89
['M. Kuchar', 'K. Streelman', 'L. Oosthuizen']
['B. An', 'D. Bard', 'S. Bowditch']

In [8]:
## Get the FIR stats

fir2016_stats = []

# first xpath: //*[@id="table-2799"]/tbody/tr[1]/td[6]
# last xpath:  //*[@id="table-2799"]/tbody/tr[89]/td[6]

for i in range(90):
    path = '//*[@id="table-2799"]/tbody/tr[' + str(i) + ']/td[6]'
    fir_stats = driver.find_elements_by_xpath(path)
    for stat in fir_stats:
        fir2016_stats.append(stat.text)

In [9]:
print(len(fir2016_stats))
print(fir2016_stats[:3])
print(fir2016_stats[-3:])

89
['46 / 56 = 82.14%', '46 / 56 = 82.14%', '43 / 56 = 76.79%']
['14 / 28 = 50.00%', '14 / 28 = 50.00%', '14 / 28 = 50.00%']

In [12]:
## Create a dataframe

fir_2016 = pd.DataFrame.from_dict({'Player':fir2016_players, 'FIR':fir2016_stats})

In [13]:
fir_2016.head(3)

          Player               FIR
0      M. Kuchar  46 / 56 = 82.14%
1   K. Streelman  46 / 56 = 82.14%
2  L. Oosthuizen  43 / 56 = 76.79%

In [14]:
## Extract just the numberical % from the 'FIR' column

fir_2016['FIR'] = fir_2016['FIR'].map(lambda x:str(x)[-6:-1])

In [15]:
fir_2016.head(3)

          Player    FIR
0      M. Kuchar  82.14
1   K. Streelman  82.14
2  L. Oosthuizen  76.79

In [16]:
fir_2016['FIR Rank'] = fir_2016['FIR'].rank(method='min', ascending=False)

In [17]:
fir_2016.head(3)

          Player    FIR  FIR Rank
0      M. Kuchar  82.14       4.0
1   K. Streelman  82.14       4.0
2  L. Oosthuizen  76.79       7.0

In [18]:
fir_2016.to_csv('2016_FIR.csv')

## Greens in Regulation

In [19]:
driver.get('http://2016.masters.com/en_US/scores/stats/gir.html')

In [20]:
## Get the names of players in GIR list

gir2016_players = []

# first xpath: //*[@id="table-4340"]/tbody/tr[1]/td[1]/a
# last xpath:  //*[@id="table-4340"]/tbody/tr[89]/td[1]/a

for i in range(90):
    path = '//*[@id="table-4340"]/tbody/tr[' +str(i) + ']/td[1]/a'
    gir_players = driver.find_elements_by_xpath(path)
    for player in gir_players:
        gir2016_players.append(player.text)

In [21]:
print(len(gir2016_players))
print(gir2016_players[:3])
print(gir2016_players[-3:])

89
['M. Fitzpatrick', 'J. Rose', 'L. Westwood']
['M. Weir', 'S. Schmitz', 'R. Streb']

In [22]:
## Get the GIR stats

gir2016_stats = []

# first xpath: //*[@id="table-4340"]/tbody/tr[1]/td[6]
# last xpath:  //*[@id="table-4340"]/tbody/tr[89]/td[6]

for i in range(90):
    path = '//*[@id="table-4340"]/tbody/tr[' + str(i) + ']/td[6]'
    gir_stats = driver.find_elements_by_xpath(path)
    for stat in gir_stats:
        gir2016_stats.append(stat.text)

In [23]:
print(len(gir2016_stats))
print(gir2016_stats[:3])
print(gir2016_stats[-3:])

89
['54 / 72 = 75.00%', '52 / 72 = 72.22%', '51 / 72 = 70.83%']
['15 / 36 = 41.67%', '15 / 36 = 41.67%', '14 / 36 = 38.89%']

In [24]:
## Create a GIR dataframe

gir_2016 = pd.DataFrame.from_dict({'Player': gir2016_players, 'GIR': gir2016_stats})

In [25]:
gir_2016.head(3)

           Player               GIR
0  M. Fitzpatrick  54 / 72 = 75.00%
1         J. Rose  52 / 72 = 72.22%
2     L. Westwood  51 / 72 = 70.83%

In [27]:
## Get just the float value of the percent

gir_2016['GIR'] = gir_2016['GIR'].map(lambda x:str(x)[-6: -1])

In [28]:
gir_2016.head(3)

           Player    GIR
0  M. Fitzpatrick  75.00
1         J. Rose  72.22
2     L. Westwood  70.83

In [29]:
## Rank the players by GIR

gir_2016['GIR Rank'] = gir_2016['GIR'].rank(method='min', ascending=False)

In [30]:
gir_2016.head(3)

           Player    GIR  GIR Rank
0  M. Fitzpatrick  75.00       1.0
1         J. Rose  72.22       2.0
2     L. Westwood  70.83       4.0

In [31]:
## Save
gir_2016.to_csv('2016_GIR.csv')

## Driving Distance

In [32]:
## Open Driving Distance page

driver.get('http://2016.masters.com/en_US/scores/stats/drives_avg.html')

In [33]:
## Get the player list from the driving distance page

dist2016_players = []

# first xpath: //*[@id="table-5774"]/tbody/tr[1]/td[1]/a
# last xpath:  //*[@id="table-5774"]/tbody/tr[89]/td[1]/a

for i in range(90):
    path = '//*[@id="table-5774"]/tbody/tr[' + str(i) + ']/td[1]/a'
    dist_players = driver.find_elements_by_xpath(path)
    for player in dist_players:
        dist2016_players.append(player.text)

In [34]:
print(len(dist2016_players))
print(dist2016_players[:3])
print(dist2016_players[-3:])

89
['D. Johnson', 'S. Garcia', 'A. Scott']
['M. Weir', 'R. Moore', 'T. Watson']

In [35]:
## Get the distance stats

dist2016_stats = []

# first xpath: //*[@id="table-5774"]/tbody/tr[1]/td[6]
# last xpath:  //*[@id="table-5774"]/tbody/tr[89]/td[6]

for i in range(90):
    path = '//*[@id="table-5774"]/tbody/tr[' + str(i) + ']/td[6]'
    dist_stats = driver.find_elements_by_xpath(path)
    for stats in dist_stats:
        dist2016_stats.append(stats.text)

In [36]:
print(len(dist2016_stats))
print(dist2016_stats[:3])
print(dist2016_stats[-3:])

89
['299.25', '298.00', '295.75']
['253.25', '249.00', '246.00']

In [37]:
## Create the Driving Distance dataframe

dist_2016 = pd.DataFrame.from_dict({'Player':dist2016_players, 'dist':dist2016_stats})

In [39]:
dist_2016.head(3)

       Player    dist
0  D. Johnson  299.25
1   S. Garcia  298.00
2    A. Scott  295.75

In [40]:
dist_2016['dist Rank'] = dist_2016['dist'].rank(method='min', ascending=False)

In [41]:
dist_2016.head(3)

       Player    dist  dist Rank
0  D. Johnson  299.25        1.0
1   S. Garcia  298.00        2.0
2    A. Scott  295.75        3.0

In [42]:
dist_2016.to_csv('2016_dist.csv')

## Putting Stats

In [43]:
driver.get('http://2016.masters.com/en_US/scores/stats/putts.html')

In [44]:
## Get player list

putt2016_players = []

# first xpath: //*[@id="table-1773"]/tbody/tr[1]/td[1]/a
# last xpath:  //*[@id="table-1773"]/tbody/tr[89]/td[1]/a

for i in range(90):
    path = '//*[@id="table-1773"]/tbody/tr[' + str(i) + ']/td[1]/a'
    putt_players = driver.find_elements_by_xpath(path)
    for player in putt_players:
        putt2016_players.append(player.text)

In [45]:
print(len(putt2016_players))
print(putt2016_players[:3])
print(putt2016_players[-3:])

89
['A. Lahiri', 'J. Spieth', 'L. Mize']
['E. Els', 'R. Knox', 'I. Woosnam']

In [46]:
## Get putting stats

putt2016_stats = []

# first xpath: //*[@id="table-1773"]/tbody/tr[1]/td[6]
# last xpath:  //*[@id="table-1773"]/tbody/tr[89]/td[6]

for i in range(90):
    path = '//*[@id="table-1773"]/tbody/tr[' + str(i) + ']/td[6]'
    putt_stats = driver.find_elements_by_xpath(path)
    for stat in putt_stats:
        putt2016_stats.append(stat.text)

In [47]:
print(len(putt2016_stats))
print(putt2016_stats[:3])
print(putt2016_stats[-3:])

89
['1.53 (4)', '1.56 (4)', '1.56 (4)']
['1.89 (4)', '1.92 (3)', '1.92 (4)']

In [48]:
## Create a putting dataframe

putt_2016 = pd.DataFrame.from_dict({'Player':putt2016_players, 'Putting':putt2016_stats})

In [49]:
putt_2016.head(3)

      Player   Putting
0  A. Lahiri  1.53 (4)
1  J. Spieth  1.56 (4)
2    L. Mize  1.56 (4)

In [50]:
## Get rid of the (#)

putt_2016['Putting'] = putt_2016['Putting'].map(lambda x:x[:5])

In [51]:
putt_2016.head()

       Player Putting
0   A. Lahiri   1.53
1   J. Spieth   1.56
2     L. Mize   1.56
3  D. Willett   1.58
4   J. Holmes   1.58

In [52]:
## Add a ranking for each players putting

putt_2016['Putting Rank'] = putt_2016['Putting'].rank(method='min')

In [53]:
putt_2016.head()

       Player Putting  Putting Rank
0   A. Lahiri   1.53            1.0
1   J. Spieth   1.56            2.0
2     L. Mize   1.56            2.0
3  D. Willett   1.58            5.0
4   J. Holmes   1.58            5.0

In [54]:
## Save

putt_2016.to_csv('2016_Putting.csv')

## Get the results of the tournament

In [55]:
driver.get('https://www.google.com/search?q=2016+masters+leaderboard&client=safari&rls=en&ei=xZgBXfCGCYSUtQXej46wCQ&start=0&sa=N&ved=0ahUKEwiw_djqmeXiAhUESq0KHd6HA5Y4ChDy0wMI0wE&biw=1186&bih=651')

In [56]:
## Get the player in the same format as the stats were

finish2016_player = []

# first xpath: //*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[1]/table/tbody/tr[2]/td[3]/span
# preex xpath: //*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[1]/table/tbody/tr[6]/td[3]/span
# post  xpath: //*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[2]/table/tbody/tr[1]/td[3]/span
# last xpath:  //*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[2]/table/tbody/tr[84]/td[3]/span

# There are a couple changes in the xpath that need to be addressed in the for loop

for i in range(2, 7):
    path = '//*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[1]/table/tbody/tr[' + str(i) + ']/td[3]/span'
    finish_player = driver.find_elements_by_xpath(path)
    for player in finish_player:
        finish2016_player.append(player.text)

for j in range(85):
    path = '//*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[2]/table/tbody/tr[' + str(j) + ']/td[3]/span'
    finish_player2 = driver.find_elements_by_xpath(path)
    for player2 in finish_player2:
        finish2016_player.append(player2.text)

In [58]:
print(len(finish2016_player))
print(finish2016_player[:3])
print(finish2016_player[-3:])

89
['D. Willett', 'J. Spieth', 'L. Westwood']
['P. Mickelson', 'V. Taylor', 'P. Chaplet']

In [59]:
## Get the final position of the players

finish2016_position = []

## first xpath:  //*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[1]/table/tbody/tr[2]/td[1]/span
## last xpath:   //*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[2]/table/tbody/tr[84]/td[1]/span

for i in range(2, 7):
    path = '//*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[1]/table/tbody/tr[' + str(i) + ']/td[1]/span'
    finish_position = driver.find_elements_by_xpath(path)
    for pos in finish_position:
        finish2016_position.append(pos.text)

for j in range(85):
    path = '//*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[2]/table/tbody/tr[' + str(j) + ']/td[1]/span'
    finish_position2 = driver.find_elements_by_xpath(path)
    for pos2 in finish_position2:
        finish2016_position.append(pos2.text)

In [60]:
len(finish2016_position)

89

In [66]:
## Get the final scores 

finish2016_score = []

# first xpath: //*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[1]/table/tbody/tr[2]/td[6]/span
# last xpath:  //*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[2]/table/tbody/tr[52]/td[6]/span

# Have to work with the expandable content again as well

for i in range(2, 7):
    path = '//*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[1]/table/tbody/tr[' + str(i) + ']/td[6]/span'
    finish_score = driver.find_elements_by_xpath(path)
    for score in finish_score:
        finish2016_score.append(score.text)

for j in range(53):
    path = '//*[@id="/g/11hczb0ql5"]/g-expandable-content/table/tbody/tr/td/div/div/div[3]/g-expandable-content[2]/table/tbody/tr[' + str(j) + ']/td[6]/span'
    finish_score2 = driver.find_elements_by_xpath(path)
    for score2 in finish_score2:
        finish2016_score.append(score2.text)

In [67]:
print(len(finish2016_score))
print(finish2016_score[:3])
print(finish2016_score[-3:])

57
['-5', '-2', '-2']
['+15', '+15', '+19']

In [68]:
## The cut players were not in order like I expected them to be, had to input their scores by hand

cut_scores = ['+9', '+9', '+7', '+9', '+7', '+13', '+9', '+8', '+9', '+12', '+9', '+13', '+9',
             '+7', '+10', '+8', '+9', '+8', '+16', '+11', '+8', '+13', '+17', '+8', '+19', '+13',
             '+12', '+13', '+8', '+7', '+7', '+21']

finish2016_score = finish2016_score + cut_scores

print(len(finish2016_score))

89

In [69]:
print(finish2016_score[:3])
print(finish2016_score[-3:])

['-5', '-2', '-2']
['+7', '+7', '+21']

In [70]:
## Create a dataframe for the players scores and positions

finish2016 = pd.DataFrame.from_dict({'Player':finish2016_player, 'Position':finish2016_position,
                                    'Score':finish2016_score})

In [71]:
finish2016.shape

(89, 3)

In [73]:
finish2016.tail()

          Player Position Score
84        C. Jin      Cut   +13
85  D. Lingmerth      Cut    +8
86  P. Mickelson      Cut    +7
87     V. Taylor      Cut    +7
88    P. Chaplet      Cut   +21

In [74]:
## Create a binary column if the player of cut

finish2016['Cut'] = np.where(finish2016['Position'] == 'Cut', 1, 0)

In [75]:
finish2016.head(2)

       Player Position Score  Cut
0  D. Willett        1    -5    0
1   J. Spieth       T2    -2    0

In [77]:
cut_players = finish2016[finish2016['Position'] == 'Cut']

In [78]:
cut_players.head(3)

         Player Position Score  Cut
57    J. Dufner      Cut    +9    1
58    J. Herman      Cut    +9    1
59  M. Leishman      Cut    +7    1

In [117]:
cut_players['score_int'] = cut_players['Score'].astype(int)

cut_players['Position'] = (cut_players['score_int'].rank(method='min')) + 57

In [118]:
cut_players.head()

         Player  Position Score  Cut  score_int
57    J. Dufner      69.0    +9    1          9
58    J. Herman      69.0    +9    1          9
59  M. Leishman      58.0    +7    1          7
60      D. Bard      69.0    +9    1          9
61        B. An      58.0    +7    1          7

In [119]:
cut_players.drop('score_int', axis=1, inplace=True)

In [120]:
finish2016 = finish2016[finish2016['Cut'] == 0]

In [121]:
finish2016 = pd.concat([finish2016, cut_players])

In [122]:
finish2016.shape

(89, 4)

In [123]:
finish2016.head()

                    Player Position Score  Cut
D. Willett      D. Willett        1    -5    0
J. Spieth        J. Spieth       T2    -2    0
L. Westwood    L. Westwood       T2    -2    0
P. Casey          P. Casey       T4    -1    0
J. B. Holmes  J. B. Holmes       T4    -1    0

In [124]:
finish2016.to_csv('2016_Position.csv')

## Putting it all together

In [128]:
## Make the player name the index for each dataframe

fir_2016.index = fir_2016['Player']
gir_2016.index = gir_2016['Player']
dist_2016.index = dist_2016['Player']
putt_2016.index = putt_2016['Player']
finish2016.index = finish2016['Player']

In [129]:
stats2016 = pd.concat([fir_2016, dist_2016, gir_2016, putt_2016], axis=1)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [130]:
stats2016.shape

(89, 12)

In [102]:
all_names = set(list(stats2016.index) + list(finish2016.index))

In [103]:
len(all_names)

95

In [104]:
all_names

{'A. Cabrera',
 'A. Lahiri',
 'A. Scott',
 'A. Sullivan',
 'B. An',
 'B. DeChambeau',
 'B. Grace',
 'B. Haas',
 'B. Horschel',
 'B. Koepka',
 'B. Langer',
 'B. Snedeker',
 'B. Watson',
 'B. Wiesberger',
 'C. Hoffman',
 'C. Jin',
 'C. Kirk',
 'C. Schwartzel',
 'C. Smith',
 'C. Wood',
 'D. Bard',
 'D. Berger',
 'D. Clarke',
 'D. Johnson',
 'D. Lee',
 'D. Lingmerth',
 'D. Love III',
 'D. Willett',
 'E. Els',
 'E. Grillo',
 'F. Gomez',
 'F. Gmez',
 'G. McDowell',
 'G. Mcdowell',
 'H. English',
 'H. Mahan',
 'H. Matsuyama',
 'H. Stenson',
 'I. Poulter',
 'I. Woosnam',
 'J. B. Holmes',
 'J. Day',
 'J. Donaldson',
 'J. Dufner',
 'J. Herman',
 'J. Holmes',
 'J. Rose',
 'J. Spieth',
 'J. Thomas',
 'J. Walker',
 'K. Aphibarnrat',
 'K. Bradley',
 'K. Kisner',
 'K. Na',
 'K. Streelman',
 'L. Mize',
 'L. Oosthuizen',
 'L. Westwood',
 'M. Fitzpatrick',
 'M. Kaymer',
 'M. Kuchar',
 'M. Leishman',
 "M. O'Meara",
 'M. Weir',
 'P. Casey',
 'P. Chaplet',
 'P. Mickelson',
 'P. Reed',
 'R. Cabrera-Bello',
 'R. Fowler',
 'R. Knox',
 'R. Langasque',
 'R. McIlroy',
 'R. Mcilroy',
 'R. Moore',
 'R. Streb',
 'S. Bowditch',
 'S. Garcia',
 'S. Garca',
 'S. Kaufman',
 'S. Kjeldsen',
 'S. Lowry',
 'S. Lyle',
 'S. Piercy',
 'S. Schmitz',
 'T. Immelman',
 'T. Jaidee',
 'T. Merritt',
 'T. Watson',
 'V. Dubuisson',
 'V. Singh',
 'V. Taylor',
 'W. Simpson',
 'Z. Johnson',
 '. Cabrera'}

In [131]:
## Replace the names spelt differently in the dataframes

new_names = {'A. Cabrera': '. Cabrera',
             'F. Gomez': 'F. Gmez',
             'G. Mcdowell': 'G. McDowell',
             'R. Mcilroy': 'R. McIlroy',
             'S. Garcia': 'S. Garca',
             'J. Holmes': 'J. B. Holmes'}

stats2016 = stats2016.rename(index=new_names)

In [132]:
## Concatenate the finish2016 dataframe

masters2016 = pd.concat([finish2016, stats2016], axis=1)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
masters2016.shape

(89, 16)

In [134]:
masters2016.head()

,Player,Position,Score,Cut,Player,FIR,FIR Rank,Player,dist,dist Rank,Player,GIR,GIR Rank,Player,Putting,Putting Rank
A. Lahiri,A. Lahiri,T42,+11,0,A. Lahiri,67.86,32.0,A. Lahiri,276.62,48.0,A. Lahiri,47.22,78.0,A. Lahiri,1.53,1.0
A. Scott,A. Scott,T42,+11,0,A. Scott,53.57,84.0,A. Scott,295.75,3.0,A. Scott,51.39,70.0,A. Scott,1.67,29.0
A. Sullivan,A. Sullivan,81,+13,1,A. Sullivan,67.86,32.0,A. Sullivan,267.00,74.0,A. Sullivan,55.56,55.0,A. Sullivan,1.83,81.0
B. An,B. An,58,+7,1,B. An,50.00,86.0,B. An,281.75,26.0,B. An,47.22,78.0,B. An,1.64,20.0
B. DeChambeau,B. DeChambeau,T21,+5,0,B. DeChambeau,60.71,65.0,B. DeChambeau,290.00,6.0,B. DeChambeau,59.72,36.0,B. DeChambeau,1.61,13.0

In [135]:
masters2016.drop('Player', axis=1, inplace=True)

In [136]:
masters2016.head()

,Position,Score,Cut,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank
A. Lahiri,T42,+11,0,67.86,32.0,276.62,48.0,47.22,78.0,1.53,1.0
A. Scott,T42,+11,0,53.57,84.0,295.75,3.0,51.39,70.0,1.67,29.0
A. Sullivan,81,+13,1,67.86,32.0,267.00,74.0,55.56,55.0,1.83,81.0
B. An,58,+7,1,50.00,86.0,281.75,26.0,47.22,78.0,1.64,20.0
B. DeChambeau,T21,+5,0,60.71,65.0,290.00,6.0,59.72,36.0,1.61,13.0

In [137]:
## Remove the 'T' from the 'Position' column
## Replace the 'E' in score and replace with 0

masters2016['Position'] = masters2016['Position'].apply(lambda x:str(x).strip('T'))

masters2016['Score'] = masters2016['Score'].replace({'E':0})

In [138]:
## Convert columns to numeric

cols = ['FIR', 'FIR Rank', 'dist', 'dist Rank', 'GIR', 'GIR Rank', 'Putting',
       'Putting Rank', 'Position', 'Score', 'Cut']

masters2016[cols] = masters2016[cols].apply(pd.to_numeric, axis=1)

In [139]:
masters2016.head()

,Position,Score,Cut,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank
A. Lahiri,42.0,11.0,0.0,67.86,32.0,276.62,48.0,47.22,78.0,1.53,1.0
A. Scott,42.0,11.0,0.0,53.57,84.0,295.75,3.0,51.39,70.0,1.67,29.0
A. Sullivan,81.0,13.0,1.0,67.86,32.0,267.00,74.0,55.56,55.0,1.83,81.0
B. An,58.0,7.0,1.0,50.00,86.0,281.75,26.0,47.22,78.0,1.64,20.0
B. DeChambeau,21.0,5.0,0.0,60.71,65.0,290.00,6.0,59.72,36.0,1.61,13.0

In [140]:
masters2016['Year'] = 2016

In [141]:
masters2016.to_csv('2016_Masters.csv')

In [142]:
driver.close()