In [1]:
%cd /Users/genevieveberent/Desktop/Zak_Portfolio/PGA_Masters

/Users/genevieveberent/Desktop/Zak_Portfolio/PGA_Masters

In [5]:
from selenium import webdriver
import pandas as pd
import numpy as np

## Fairways in Regulation

In [7]:
driver = webdriver.Chrome()
driver.get('http://2017.masters.com/en_US/scores/stats/fir.html')

In [9]:
## Get the player names listed on the website

fir2017_players = []

# first xpath: //*[@id="table-8594"]/tbody/tr[1]/td[1]/a
# last xapth:  //*[@id="table-8594"]/tbody/tr[93]/td[1]/a

for i in range(94):
    path = '//*[@id="table-8594"]/tbody/tr[' + str(i) + ']/td[1]/a'
    fir_players = driver.find_elements_by_xpath(path)
    for player in fir_players:
        fir2017_players.append(player.text)
        
        
print(len(fir2017_players))

93

In [10]:
## Get the FIR stats for the tournament

fir2017_stats = []

# first xpath: //*[@id="table-8594"]/tbody/tr[1]/td[6]
# last xpath:  //*[@id="table-8594"]/tbody/tr[93]/td[6]

for i in range(94):
    path = '//*[@id="table-8594"]/tbody/tr[' + str(i) + ']/td[6]'
    fir_stats = driver.find_elements_by_xpath(path)
    for stat in fir_stats:
        fir2017_stats.append(stat.text)
        
print(len(fir2017_stats))

93

In [11]:
## Create the FIR dataframe

fir_2017 = pd.DataFrame.from_dict({'Player':fir2017_players, 'FIR':fir2017_stats})

In [12]:
fir_2017.head(3)

           Player               FIR
0  Søren Kjeldsen  46 / 56 = 82.14%
1   Sergio Garcia  45 / 56 = 80.36%
2  Steve Stricker  43 / 56 = 76.79%

In [13]:
## Get just the % as a float for later analysis

fir_2017['FIR'] = fir_2017['FIR'].map(lambda x:str(x)[-6:-1])

In [16]:
fir_2017['FIR Rank'] = fir_2017['FIR'].rank(method='min', ascending=False)

In [17]:
fir_2017.head()

               Player    FIR  FIR Rank
0      Søren Kjeldsen  82.14       1.0
1       Sergio Garcia  80.36       6.0
2      Steve Stricker  76.79       8.0
3          Larry Mize  76.79       8.0
4  Francesco Molinari  75.00      10.0

In [18]:
## Save

fir_2017.to_csv('2017_FIR.csv')

## Greens in Regulation

In [19]:
driver.get('http://2017.masters.com/en_US/scores/stats/gir.html')

In [21]:
## Get the player list on the website

gir2017_players = []

for i in range(94):
    path = '//*[@id="table-2056"]/tbody/tr[' + str(i) + ']/td[1]/a'
    gir_players = driver.find_elements_by_xpath(path)
    for player in gir_players:
        gir2017_players.append(player.text)
        
print(len(gir2017_players))

93

In [22]:
## Get the player's GIR percentage

gir2017_stats = []

for i in range(94):
    path = '//*[@id="table-2056"]/tbody/tr[' + str(i) + ']/td[6]'
    gir_stats = driver.find_elements_by_xpath(path)
    for stat in gir_stats:
        gir2017_stats.append(stat.text)
        
print(len(gir2017_stats))

93

In [23]:
## Create GIR dataframe

gir_2017 = pd.DataFrame.from_dict({'Player':gir2017_players, 'GIR':gir2017_stats})

In [24]:
gir_2017.head(3)

          Player               GIR
0     Paul Casey  56 / 72 = 77.78%
1  Sergio Garcia  54 / 72 = 75.00%
2    Justin Rose  54 / 72 = 75.00%

In [25]:
gir_2017['GIR'] = gir_2017['GIR'].map(lambda x:str(x)[-6:-1])

In [26]:
gir_2017.head(3)

          Player    GIR
0     Paul Casey  77.78
1  Sergio Garcia  75.00
2    Justin Rose  75.00

In [27]:
gir_2017['GIR Rank'] = gir_2017['GIR'].rank(method='min', ascending=False)

In [28]:
gir_2017.head()

          Player    GIR  GIR Rank
0     Paul Casey  77.78       1.0
1  Sergio Garcia  75.00       2.0
2    Justin Rose  75.00       2.0
3     Adam Scott  73.61       4.0
4    Ross Fisher  72.22       5.0

In [29]:
## Save

gir_2017.to_csv('2017_gir.csv')

## Driving Distance

In [30]:
driver.get('http://2017.masters.com/en_US/scores/stats/drives_avg.html')

In [31]:
## Player list from the website

dist2017_players = []

for i in range(94):
    path = '//*[@id="table-1070"]/tbody/tr[' + str(i) + ']/td[1]/a'
    dist_players = driver.find_elements_by_xpath(path)
    for player in dist_players:
        dist2017_players.append(player.text)
        
print(len(dist2017_players))

93

In [32]:
## Get GIR stats

dist2017_stats = []

for i in range(94):
    path = '//*[@id="table-1070"]/tbody/tr[' + str(i) + ']/td[6]'
    dist_stats = driver.find_elements_by_xpath(path)
    for stat in dist_stats:
        dist2017_stats.append(stat.text)
        
print(len(dist2017_stats))

93

In [33]:
## Create a Driving Distance dataframe

dist_2017 = pd.DataFrame.from_dict({'Player':dist2017_players, 'dist':dist2017_stats})

In [34]:
dist_2017.head(3)

          Player    dist
0  Brooks Koepka  302.50
1      Jason Day  299.88
2  Byeong Hun An  297.12

In [37]:
dist_2017['dist Rank'] = dist_2017['dist'].rank(method='min', ascending=False)

In [38]:
dist_2017.head(3)

          Player    dist  dist Rank
0  Brooks Koepka  302.50        1.0
1      Jason Day  299.88        2.0
2  Byeong Hun An  297.12        3.0

In [39]:
## Save

dist_2017.to_csv('2017_dist.csv')

## Putting Stats

In [40]:
driver.get('http://2017.masters.com/en_US/scores/stats/putts.html')

In [41]:
## Get list of names from website

putt2017_players = []

for i in range(94):
    path = '//*[@id="table-3809"]/tbody/tr[' + str(i) + ']/td[1]/a'
    putt_players = driver.find_elements_by_xpath(path)
    for player in putt_players:
        putt2017_players.append(player.text)
        
print(len(putt2017_players))

93

In [44]:
## Get the putting stats in the same order as players

putt2017_stats = []

for i in range(94):
    path = '//*[@id="table-3809"]/tbody/tr[' + str(i) + ']/td[6]'
    putt_stats = driver.find_elements_by_xpath(path)
    for stat in putt_stats:
        putt2017_stats.append(stat.text)
        
print(len(putt2017_stats))

93

In [45]:
## Create Putting Dataframe

putt_2017 = pd.DataFrame.from_dict({'Player':putt2017_players, 'Putting':putt2017_stats})

In [47]:
putt_2017.tail(3)

             Player   Putting
90    Gary Woodland  1.89 (4)
91   Brad Dalke (a)  1.92 (5)
92  Trevor Immelman  1.92 (6)

In [48]:
## Remove the number of 3 putts in ()

putt_2017['Putting'] = putt_2017['Putting'].map(lambda x:str(x)[:4])

In [51]:
putt_2017['Putting Rank'] = putt_2017['Putting'].rank(method='min')

In [52]:
putt_2017.head()

                Player Putting  Putting Rank
0        Rickie Fowler    1.51           1.0
1         Jimmy Walker    1.51           1.0
2  Jose Maria Olazabal    1.53           3.0
3            Jim Furyk    1.53           3.0
4     Billy Hurley III    1.53           3.0

In [53]:
## Save
putt_2017.to_csv('2017_Putt.csv')

## Get where the players finished

In [54]:
driver.get('https://www.golfchannel.com/tours/pga-tour/2017/masters-tournament')

In [55]:
## Just players that made the cut

madecut2017_players = []

## first xpath: //*[@id="leaderboard"]/main/div[1]/section/section/div[2]/div/div/div[2]/p
## last xapth:  //*[@id="leaderboard"]/main/div[1]/section/section/div[54]/div/div/div[2]/p

for i in range(2, 55):
    path = '//*[@id="leaderboard"]/main/div[1]/section/section/div[' + str(i) + ']/div/div/div[2]/p'
    madecut_players = driver.find_elements_by_xpath(path)
    for player in madecut_players:
        madecut2017_players.append(player.text)

print(len(madecut2017_players))

53

In [56]:
## Get the position that the players finished

madecut2017_position = []

## first xpath: //*[@id="leaderboard"]/main/div[1]/section/section/div[2]/div/div/p[1]

for i in range(2, 55):
    path = '//*[@id="leaderboard"]/main/div[1]/section/section/div[' + str(i) + ']/div/div/p[1]'
    madecut_position = driver.find_elements_by_xpath(path)
    for pos in madecut_position:
        madecut2017_position.append(pos.text)
        
print(len(madecut2017_position))

53

In [57]:
## Get the players scores for the tournament

madecut2017_score = []

## first xpath: //*[@id="leaderboard"]/main/div[1]/section/section/div[2]/div/div/p[3]

for i in range(2, 55):
    path = '//*[@id="leaderboard"]/main/div[1]/section/section/div[' + str(i) + ']/div/div/p[3]'
    madecut_scores = driver.find_elements_by_xpath(path)
    for score in madecut_scores:
        madecut2017_score.append(score.text)
        
print(len(madecut2017_score))

53

In [58]:
## Create dataframe of players that made the cut

madecut2017 = pd.DataFrame.from_dict({'Player': madecut2017_players,
                                     'Position': madecut2017_position,
                                     'Score': madecut2017_score})

madecut2017.head()

             Player Position Score
0     Sergio Garcia        1    -9
1       Justin Rose        2    -9
2  Charl Schwartzel        3    -6
3       Matt Kuchar       T4    -5
4    Thomas Pieters       T4    -5

In [59]:
madecut2017['Cut'] = 0

In [60]:
madecut2017.head()

             Player Position Score  Cut
0     Sergio Garcia        1    -9    0
1       Justin Rose        2    -9    0
2  Charl Schwartzel        3    -6    0
3       Matt Kuchar       T4    -5    0
4    Thomas Pieters       T4    -5    0

In [62]:
## Get the players that missed the cut

missedcut2017_players = []

# first xpath: //*[@id="leaderboard"]/main/div[1]/section/section/div[55]/div/div[2]/div[2]/p
# last xpathL  //*[@id="leaderboard"]/main/div[1]/section/section/div[94]/div/div/div[2]/p

for i in range(55, 95):
    path = '//*[@id="leaderboard"]/main/div[1]/section/section/div[' + str(i) + ']/div/div/div[2]/p'
    missedcut_players = driver.find_elements_by_xpath(path)
    for player in missedcut_players:
        missedcut2017_players.append(player.text)
        
print(len(missedcut2017_players))

40

In [66]:
## Get the players scores

missedcut2017_scores = []

# xpath: //*[@id="leaderboard"]/main/div[1]/section/section/div[94]/div/div/p[3]

for i in range(55, 95):
    path = '//*[@id="leaderboard"]/main/div[1]/section/section/div[' + str(i) + ']/div/div/p[3]'
    missedcut_scores = driver.find_elements_by_xpath(path)
    for score in missedcut_scores:
        missedcut2017_scores.append(score.text)
        
print(len(missedcut2017_scores))

40

In [89]:
## Create df for players that missed the cut

missedcut2017 = pd.DataFrame.from_dict({'Player': missedcut2017_players, 'Score': missedcut2017_scores})

In [90]:
missedcut2017.head()

             Player Score
0        Chris Wood    +7
1        Yuta Ikeda    +7
2     Danny Willett    +7
3  Billy Hurley III    +7
4      Zach Johnson    +7

In [91]:
missedcut2017['Score int'] = missedcut2017['Score'].apply(pd.to_numeric)

In [92]:
missedcut2017['Position'] = (missedcut2017['Score int'].rank(method='min')) + 53

In [93]:
missedcut2017.drop('Score int', axis=1, inplace=True)

In [94]:
missedcut2017['Cut'] = 1

In [95]:
missedcut2017 = missedcut2017[['Player', 'Position', 'Score', 'Cut']]

In [96]:
missedcut2017.head()

             Player  Position Score  Cut
0        Chris Wood      54.0    +7    1
1        Yuta Ikeda      54.0    +7    1
2     Danny Willett      54.0    +7    1
3  Billy Hurley III      54.0    +7    1
4      Zach Johnson      54.0    +7    1

In [97]:
final_2017 = pd.concat([madecut2017, missedcut2017])

In [99]:
final_2017.shape

(93, 4)

In [100]:
## Save

final_2017.to_csv('2017_Position.csv')

## Putting it all together

In [104]:
## Make the 'Player' column the index for each df

fir_2017.index = fir_2017['Player']
gir_2017.index = gir_2017['Player']
dist_2017.index = dist_2017['Player']
putt_2017.index = putt_2017['Player']
final_2017.index = final_2017['Player']

In [109]:
stats_2017 = pd.concat([fir_2017, gir_2017, dist_2017, putt_2017], axis=1)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [110]:
stats_2017.shape

(93, 12)

In [112]:
stats_2017.drop('Player', axis=1, inplace=True)

In [113]:
stats_2017.head()

,FIR,FIR Rank,GIR,GIR Rank,dist,dist Rank,Putting,Putting Rank
Adam Hadwin,57.14,75.0,58.33,47.0,260.38,78.0,1.60,13.0
Adam Scott,64.29,48.0,73.61,4.0,290.38,9.0,1.72,60.0
Alex Noren,71.43,18.0,55.56,54.0,275.25,50.0,1.72,60.0
Andy Sullivan,73.21,15.0,55.56,54.0,282.75,23.0,1.69,46.0
Angel Cabrera,67.86,34.0,55.56,54.0,260.75,75.0,1.81,87.0

In [128]:
all_players = set(list(stats_2017.index) + list(final_2017.index))

In [129]:
len(all_players)

93

In [126]:
new_names = {'Curtis Luck (a)': 'Curtis Luck',
             'J. B. Holmes': 'J.B. Holmes',
             'Jeunghun Wang': 'Jeung-Hun Wang',
             'Rafael Cabrera-Bello': 'Rafa Cabrera Bello',
             'Scott Gregory (a)': 'Scott Gregory',
             'Si Woo Kim': 'Si-Woo Kim',
             'Alex Noren': 'Alexander Noren',
             'Søren Kjeldsen': 'Soren Kjeldsen'}

stats_2017 = stats_2017.rename(index=new_names)

In [130]:
masters_2017 = pd.concat([final_2017, stats_2017], axis=1)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [131]:
masters_2017.shape

(93, 12)

In [133]:
masters_2017.drop('Player', axis=1, inplace=True)

In [134]:
masters_2017.head()

,Position,Score,Cut,FIR,FIR Rank,GIR,GIR Rank,dist,dist Rank,Putting,Putting Rank
Adam Hadwin,T36,+6,0,57.14,75.0,58.33,47.0,260.38,78.0,1.60,13.0
Adam Scott,T9,-2,0,64.29,48.0,73.61,4.0,290.38,9.0,1.72,60.0
Alexander Noren,62,+8,1,71.43,18.0,55.56,54.0,275.25,50.0,1.72,60.0
Andy Sullivan,T48,+10,0,73.21,15.0,55.56,54.0,282.75,23.0,1.69,46.0
Angel Cabrera,78,+10,1,67.86,34.0,55.56,54.0,260.75,75.0,1.81,87.0

In [135]:
masters_2017['Position'] = masters_2017['Position'].map(lambda x:str(x).strip('T'))
masters_2017['Score'] = masters_2017['Score'].replace({'E':0})

In [140]:
## Change the type of the columns to numeric values to analyze later

cols = ['FIR', 'FIR Rank', 'dist', 'dist Rank', 'GIR', 'GIR Rank', 'Putting',
       'Putting Rank', 'Position', 'Score', 'Cut']

masters_2017[cols] = masters_2017[cols].apply(pd.to_numeric, axis=1)

In [141]:
masters_2017['Year'] = 2017

In [142]:
masters_2017.head(10)

,Position,Score,Cut,FIR,FIR Rank,GIR,GIR Rank,dist,dist Rank,Putting,Putting Rank,Year
Adam Hadwin,36.0,6.0,0.0,57.14,75.0,58.33,47.0,260.38,78.0,1.60,13.0,2017
Adam Scott,9.0,-2.0,0.0,64.29,48.0,73.61,4.0,290.38,9.0,1.72,60.0,2017
Alexander Noren,62.0,8.0,1.0,71.43,18.0,55.56,54.0,275.25,50.0,1.72,60.0,2017
Andy Sullivan,48.0,10.0,0.0,73.21,15.0,55.56,54.0,282.75,23.0,1.69,46.0,2017
Angel Cabrera,78.0,10.0,1.0,67.86,34.0,55.56,54.0,260.75,75.0,1.81,87.0,2017
Bernd Wiesberger,43.0,8.0,0.0,71.43,18.0,61.11,33.0,291.25,7.0,1.65,26.0,2017
Bernhard Langer,71.0,9.0,1.0,78.57,7.0,50.00,71.0,250.25,90.0,1.67,35.0,2017
Bill Haas,36.0,6.0,0.0,58.93,70.0,65.28,19.0,279.62,36.0,1.71,56.0,2017
Billy Hurley III,54.0,7.0,1.0,67.86,34.0,47.22,79.0,251.75,87.0,1.53,3.0,2017
Brad Dalke (a),71.0,9.0,1.0,67.86,34.0,63.89,22.0,266.25,70.0,1.92,92.0,2017

In [143]:
masters_2017.to_csv('Masters_2017.csv')

In [144]:
driver.close()