In [83]:
import pandas as pd
import numpy as np

In [18]:
import selenium

In [19]:
%cd /Users/genevieveberent/Desktop/Zak_Portfolio/PGA_Masters

/Users/genevieveberent/Desktop/Zak_Portfolio/PGA_Masters

In [3]:
## Open the website for Fairways in Regulation in a Chrome Browser

driver = webdriver.Chrome()
driver.get('https://2019.masters.com/en_US/scores/stats/fir.html')

In [5]:
## Extract the player names by the class name ('first-col')

player_name = driver.find_elements_by_class_name("first-col")

fir2019_players = []

for player in player_name:
    fir2019_players.append(player.text)

In [6]:
## Extract the average fir for the entire tournament (Ignore the individual rounds)

fir2019_stats = []

for i in range(len(players) + 1):
    path = '//*[@id="router"]/section/section[4]/section[2]/div/div[2]/table/tbody/tr['+str(i)+']/td[6]'
    fir_average = driver.find_elements_by_xpath(path)
    for f in fir_average:
        fir2019_stats.append(f.text)

In [7]:
## Check the players list
print('Player Names')
print(len(fir2019_players))
print(fir2019_players[:5])
print()
print('FIR')
print(len(fir2019_stats))
print(fir2019_stats[:5])

Player Names
88
['PLAYER', 'Patton Kizzire', 'Ian Woosnam', 'Bernhard Langer', 'Andrew Landry']

FIR
87
['40 / 56 = 71.43%', '24 / 28 = 85.71%', '43 / 56 = 76.79%', '45 / 56 = 80.36%', '24 / 28 = 85.71%']

In the player list, the title was included, but it was not in the FIR list.  Removing this will also give both lists 87 elements.

In [11]:
del fir2019_players[0]

### Start creating the DataFrame

In [12]:
## Create a dataframe with just the players

fir_2019 = pd.DataFrame.from_dict({'Player':fir2019_players, 'FIR':fir2019_stats})

In [13]:
fir_2019.head(2)

           Player               FIR
0  Patton Kizzire  40 / 56 = 71.43%
1     Ian Woosnam  24 / 28 = 85.71%

In [14]:
## I just want the percentage from the FIR, each percentage is 5 values (##.##)

fir_2019['FIR'] = fir_2019['FIR'].map(lambda x:str(x)[-6:-1])

In [15]:
fir_2019.head(2)

           Player    FIR
0  Patton Kizzire  71.43
1     Ian Woosnam  85.71

In [16]:
fir_2019['FIR Rank'] = fir_2019['FIR'].rank(method='min', ascending=False)

In [24]:
fir_2019.head()

            Player    FIR  FIR Rank
0   Patton Kizzire  71.43      28.0
1      Ian Woosnam  85.71       1.0
2  Bernhard Langer  76.79       9.0
3    Andrew Landry  80.36       6.0
4       Larry Mize  85.71       1.0

I like it!  A good start to webscraping.

In [20]:
## Save to my local computer

fir_2019.to_csv('2019_FIR.csv')

# Get Greens in Regulation

In [25]:
## Open the GIR page

driver.get('https://2019.masters.com/en_US/scores/stats/gir.html')

In [26]:
## Get a list of the players names from the class_name in the source code

gir2019_players = []

gir_players = driver.find_elements_by_class_name('first-col')

for player in gir_players:
    gir2019_players.append(player.text)

In [28]:
## Look at the first four items in the list, make sure they match website

gir2019_players[:4]

['PLAYER', 'Ian Poulter', 'Dustin Johnson', 'Marc Leishman']

In [29]:
## Delete the 'PLAYER' item

del gir2019_players[0]

Check the xpath of the first and last elements in the column that we want

//*[@id="router"]/section/section[4]/section[2]/div/div[2]/table/tbody/tr[2]/td[6]
//*[@id="router"]/section/section[4]/section[2]/div/div[2]/table/tbody/tr[88]/td[6]

In [30]:
## Get the GIR% for the tournament

gir2019_stats = []

for g in range(89):
    path = '//*[@id="router"]/section/section[4]/section[2]/div/div[2]/table/tbody/tr['+ str(g) + ']/td[6]'
    gir_stats = driver.find_elements_by_xpath(path)
    for stat in gir_stats:
        gir2019_stats.append(stat.text)

In [31]:
## Check the first 4 elements to double check they match up with the website. (They do!)

gir2019_stats[:4]

['55 / 72 = 76.39%',
 '51 / 72 = 70.83%',
 '45 / 72 = 62.50%',
 '52 / 72 = 72.22%']

In [32]:
## Create a dataframe for the Greens in Regulation 

gir_2019 = pd.DataFrame.from_dict({'Player':gir2019_players, 'GIR':gir2019_stats})

In [33]:
gir_2019.head(3)

           Player               GIR
0     Ian Poulter  55 / 72 = 76.39%
1  Dustin Johnson  51 / 72 = 70.83%
2   Marc Leishman  45 / 72 = 62.50%

In [34]:
## Extract just the percentage value

gir_2019['GIR'] = gir_2019['GIR'].map(lambda x:str(x)[-6:-1])

In [35]:
gir_2019.head(3)

           Player    GIR
0     Ian Poulter  76.39
1  Dustin Johnson  70.83
2   Marc Leishman  62.50

In [37]:
gir_2019['GIR Rank'] = gir_2019['GIR'].rank(method='min', ascending=False)

In [228]:
gir_2019.head()

             Player   GIR%  GIR Rank
0       Ian Poulter  76.39       2.0
1    Dustin Johnson  70.83      10.0
2     Marc Leishman  62.50      48.0
3  Thorbjorn Olesen  72.22       8.0
4     Corey Conners  69.44      17.0

In [38]:
gir_2019.to_csv('2019_GIR.csv')

## Get Driving Distance Data

In [39]:
## Open the driving distance page

driver.get('https://2019.masters.com/en_US/scores/stats/drives_avg.html')

In [41]:
## Get Player Names

dist2019_players = []

dist_players = driver.find_elements_by_class_name('first-col')

for p in dist_players:
    dist2019_players.append(p.text)
    

print(len(dist2019_players))
print(dist2019_players[:5])

88
['PLAYER', 'Rory McIlroy', 'Lucas Bjerregaard', 'Justin Thomas', 'Tony Finau']

In [43]:
## Remove the header 'PLAYER' from the list

del dist2019_players[0]

In [44]:
## Get the Average Driving Distance for each player

dist2019_stats = []

for d in range(89):
    path = '//*[@id="router"]/section/section[4]/section[2]/div/div[2]/table/tbody/tr[' + str(d) + ']/td[6]'
    dist_stats = driver.find_elements_by_xpath(path)
    for stats in dist_stats:
        dist2019_stats.append(stats.text)

In [46]:
## Make sure everything matches up to the website

print(len(dist2019_stats))
print(dist2019_stats[:3])
print(dist2019_stats[-3:])

87
['313.88', '310.12', '311.75']
['255.25', '247.25', '263.50']

In [47]:
## Create a DataFrame for Driving Distance

dist_2019 = pd.DataFrame.from_dict({'Player':dist2019_players, 'dist':dist2019_stats})

In [48]:
## Get the ranking of each player by longest average drive

dist_2019['dist Rank'] = dist_2019['dist'].rank(method='min', ascending=False)

In [49]:
dist_2019.head()

              Player    dist  dist Rank
0       Rory McIlroy  313.88        2.0
1  Lucas Bjerregaard  310.12        9.0
2      Justin Thomas  311.75        6.0
3         Tony Finau  315.75        1.0
4         Adam Scott  310.00       10.0

In [50]:
## Save

dist_2019.to_csv('dist_2019.csv')

## Putting Stats

In [51]:
## Open putting stats website

driver.get('https://2019.masters.com/en_US/scores/stats/putts.html')

In [52]:
## Get list of player names

putt2019_players = []

putt_players = driver.find_elements_by_class_name('first-col')

for p in putt_players:
    putt2019_players.append(p.text)

In [53]:
## Check everyting matches with website

print(len(putt2019_players))
print(putt2019_players[:3])
print(putt2019_players[-3:])

88
['PLAYER', 'Justin Harding', 'Patton Kizzire']
['Angel Cabrera', 'Tyrrell Hatton', 'Trevor Immelman']

In [54]:
## Delete the first element
del putt2019_players[0]

Compare first and last xpaths

//*[@id="router"]/section/section[4]/section[2]/div/div[2]/table/tbody/tr[2]/td[6]
//*[@id="router"]/section/section[4]/section[2]/div/div[2]/table/tbody/tr[88]/td[6]

In [55]:
## Get putting stats for each player

putt2019_stats = []

for p in range(89):
    path = '//*[@id="router"]/section/section[4]/section[2]/div/div[2]/table/tbody/tr[' + str(p) + ']/td[6]'
    putt_stats = driver.find_elements_by_xpath(path)
    for stat in putt_stats:
        putt2019_stats.append(stat.text)

In [56]:
print(len(putt2019_stats))
print(putt2019_stats[:3])
print(putt2019_stats[-3:])

87
['1.50 (1)', '1.57 (1)', '1.57 (5)']
['1.83 (5)', '1.71', '1.76 (5)']

In [57]:
## Create a Putting Dataframe

putt_2019 = pd.DataFrame.from_dict({'Player':putt2019_players, 'Putting':putt2019_stats})

In [58]:
## Get rid of the (#), this is the number of 3 putts the players had

putt_2019['Putting'] = putt_2019['Putting'].map(lambda x:str(x)[:4])

In [62]:
## Add a Rank for each player based on putting stats

putt_2019['Putting Rank'] = putt_2019['Putting'].rank(method='min')

In [65]:
putt_2019.head()

              Player Putting  Putting Rank
0     Justin Harding    1.50           4.0
1     Patton Kizzire    1.57          11.0
2  Bryson DeChambeau    1.57          11.0
3       Kevin Kisner    1.58          17.0
4         Sandy Lyle    1.58          17.0

In [66]:
putt_2019.to_csv('2019_Putting.csv')

## Get where players finished in the Tournament

In [67]:
## The previous website didn't have full names on the website for the leaderboard 
## ie T. Woods while everything else is Tiger Woods

driver.get('https://www.augusta.com/masters/leaderboard')

xpaths

//*[@id="LargeLeaderboard"]/tbody/tr[4]/td[2]/a
//*[@id="LargeLeaderboard"]/tbody/tr[105]/td[2]/a

In [68]:
## Get the player names 

finished2019_players = []

for p in range(4, 106):
    path = '//*[@id="LargeLeaderboard"]/tbody/tr[' +str(p) + ']/td[2]/a'
    finished_2019 = driver.find_elements_by_xpath(path)

    for f in finished_2019:
        finished2019_players.append(f.text)

In [69]:
len(finished2019_players)

87

Same number that we had for all the stats!

In [70]:
## Get the position that the player finished in the tournament

##  xpath: //*[@id="LargeLeaderboard"]/tbody/tr[4]/td[1]
##  xpath: //*[@id="LargeLeaderboard"]/tbody/tr[105]/td[1]

finished2019_position = []

for pos in range(4, 106):
    path = '//*[@id="LargeLeaderboard"]/tbody/tr[' + str(pos) + ']/td[1]'
    finished_position = driver.find_elements_by_xpath(path)
    for s in finished_position:
        finished2019_position.append(s.text)

In [72]:
len(finished2019_position)

102

In [74]:
finished2019_position[-10:]

['CUT', 'CUT', 'CUT', 'CUT', 'CUT', 'CUT', '', '', '', 'CUT']

In [75]:
## Remove the empty strings from the list

finished2019_position = list(filter(None, finished2019_position))

In [76]:
len(finished2019_position)

87

In [77]:
## Get the players final score

## xpath: //*[@id="LargeLeaderboard"]/tbody/tr[4]/td[3]
## xpath: //*[@id="LargeLeaderboard"]/tbody/tr[105]/td[3]

score_2019 = []

for p in range(4, 106):
    path = '//*[@id="LargeLeaderboard"]/tbody/tr[' + str(p) + ']/td[3]'
    score = driver.find_elements_by_xpath(path)

    for s in score:
        score_2019.append(s.text)

In [78]:
len(score_2019)

87

In [80]:
## Create a DataFrame

position_2019 = pd.DataFrame.from_dict({'Player':finished2019_players,
                                                'Position':finished2019_position, 
                                                'Score':score_2019})

In [84]:
position_2019.tail()

                 Player Position Score
82           Paul Casey      CUT   +10
83          Vijay Singh      CUT   +12
84          Ian Woosnam      CUT   +12
85  Jose Maria Olazabal      CUT   +13
86        Angel Cabrera      CUT   +13

In [85]:
position_2019['Cut'] = np.where(position_2019['Position'] == 'CUT', 1, 0)

In [87]:
position_2019.head(2)

           Player Position Score  Cut
0     Tiger Woods        1   -13    0
1  Dustin Johnson       T2   -12    0

In [88]:
## Handle the players that were 'CUT' so we can convert the column to an int
## Some players that made cut played bad on the weekend and finished worse than the players that got cut
## Extract the cut players, rank them then concatenate them back to the dataframe

cut_players = position_2019.loc[position_2019['Position'] == 'CUT']

In [89]:
## Check the types because we need to work with numbers to convert

cut_players.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 65 to 86
Data columns (total 4 columns):
Player      22 non-null object
Position    22 non-null object
Score       22 non-null object
Cut         22 non-null int64
dtypes: int64(1), object(3)
memory usage: 880.0+ bytes

In [90]:
## The 'Score' column needs to be numeric to rank correctly

cut_players['Int Score'] = pd.to_numeric(cut_players['Score'])

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [91]:
## Create a ranking amongst the cut players

cut_players['New Rank'] = cut_players['Int Score'].rank(method='min')

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [92]:
## The first player(s) cut should actually in 66th place and so on

cut_players['New Rank'] = cut_players['New Rank'] + 65

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [94]:
cut_players['Position'] = cut_players['New Rank']

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [95]:
cut_players.head()

             Player  Position Score  Cut  Int Score  New Rank
65       Sandy Lyle      66.0    +4    1          4      66.0
66     Stewart Cink      66.0    +4    1          4      66.0
67      Justin Rose      66.0    +4    1          4      66.0
68        Mike Weir      66.0    +4    1          4      66.0
69  Kevin O'Connell      66.0    +4    1          4      66.0

In [98]:
## Organize the df so it matches the positions_2019

cut_players_merge = cut_players[['Player', 'Position', 'Score', 'Cut']]

In [99]:
cut_players_merge.head(3)

          Player  Position Score  Cut
65    Sandy Lyle      66.0    +4    1
66  Stewart Cink      66.0    +4    1
67   Justin Rose      66.0    +4    1

In [100]:
## Get just the players that made the cut, then add the new cut players data to it

position_2019 = position_2019[position_2019['Position'] != 'CUT']

In [101]:
final_2019 = pd.concat([position_2019, cut_players_merge])

In [102]:
final_2019.shape

(87, 4)

In [103]:
final_2019.tail()

                 Player Position Score  Cut
82           Paul Casey       82   +10    1
83          Vijay Singh       84   +12    1
84          Ian Woosnam       84   +12    1
85  Jose Maria Olazabal       86   +13    1
86        Angel Cabrera       86   +13    1

In [104]:
final_2019.to_csv('2019_Position.csv')

# Concatenate all the dataframes into one

DataFrames:

Position: final_2019
FIR: fir_2019
GIR: gir_2019
Driving Distance: dist_2019
Putting: putt_2019

In [107]:
## Make the 'Player' the index for all the dataframes

fir_2019.index = fir_2019['Player']
dist_2019.index = dist_2019['Player']
gir_2019.index = gir_2019['Player']
putt_2019.index = putt_2019['Player']

In [109]:
## Concatenate the statistical dataframes into one

stats_df = pd.concat([fir_2019, dist_2019, gir_2019, putt_2019], axis=1)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [110]:
stats_df.head()

,Player,FIR,FIR Rank,Player,dist,dist Rank,Player,GIR,GIR Rank,Player,Putting,Putting Rank
Aaron Wise,Aaron Wise,66.07,47.0,Aaron Wise,305.00,16.0,Aaron Wise,68.06,22.0,Aaron Wise,1.60,22.0
Adam Long,Adam Long,71.43,28.0,Adam Long,299.25,28.0,Adam Long,66.67,27.0,Adam Long,1.81,85.0
Adam Scott,Adam Scott,71.43,28.0,Adam Scott,310.00,10.0,Adam Scott,75.00,4.0,Adam Scott,1.67,54.0
Alex Noren,Alex Noren,76.79,9.0,Alex Noren,290.38,62.0,Alex Noren,55.56,73.0,Alex Noren,1.64,45.0
Alvaro Ortiz (A),Alvaro Ortiz (A),66.07,47.0,Alvaro Ortiz (A),297.62,38.0,Alvaro Ortiz (A),66.67,27.0,Alvaro Ortiz (A),1.65,52.0

In [111]:
## Drop the 'Player' columns

stats_df.drop('Player', axis=1, inplace=True)

In [112]:
stats_df.head()

,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank
Aaron Wise,66.07,47.0,305.00,16.0,68.06,22.0,1.60,22.0
Adam Long,71.43,28.0,299.25,28.0,66.67,27.0,1.81,85.0
Adam Scott,71.43,28.0,310.00,10.0,75.00,4.0,1.67,54.0
Alex Noren,76.79,9.0,290.38,62.0,55.56,73.0,1.64,45.0
Alvaro Ortiz (A),66.07,47.0,297.62,38.0,66.67,27.0,1.65,52.0

In [113]:
stats_df.shape

(87, 8)

In [121]:
## Make the 'Player' column the index

final_2019.index = final_2019['Player']

In [122]:
## Concatenate the stats and final positions for the tournament

masters_2019 = pd.concat([stats_df, final_2019], axis=1)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [124]:
masters_2019.head()

,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank,Player,Position,Score,Cut
Aaron Wise,66.07,47.0,305.00,16.0,68.06,22.0,1.60,22.0,Aaron Wise,17,-7,0.0
Adam Long,71.43,28.0,299.25,28.0,66.67,27.0,1.81,85.0,Adam Long,73,+5,1.0
Adam Scott,71.43,28.0,310.00,10.0,75.00,4.0,1.67,54.0,Adam Scott,T18,-6,0.0
Alex Noren,76.79,9.0,290.38,62.0,55.56,73.0,1.64,45.0,Alex Noren,T62,+8,0.0
Alvaro Ortiz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alvaro Ortiz,T36,-2,0.0

In [125]:
masters_2019.shape

(95, 12)

Hmmm... There are 8 more than before.  Check the names from the datasets.

In [126]:
## Get a list of all 95 players now in the dataframe

players = list(masters_2019.index)

In [127]:
players

['Aaron Wise',
 'Adam Long',
 'Adam Scott',
 'Alex Noren',
 'Alvaro Ortiz',
 'Alvaro Ortiz (A)',
 'Andrew Landry',
 'Angel Cabrera',
 'Bernhard Langer',
 'Billy Horschel',
 'Branden Grace',
 'Brandt Snedeker',
 'Brooks Koepka',
 'Bryson DeChambeau',
 'Bubba Watson',
 'Cameron Smith',
 'Charl Schwartzel',
 'Charles Howell III',
 'Charley Hoffman',
 'Corey Conners',
 'Danny Willett',
 'Devon Bling',
 'Devon Bling (A)',
 'Dustin Johnson',
 'Eddie Pepperell',
 'Emiliano Grillo',
 'Francesco Molinari',
 'Fred Couples',
 'Gary Woodland',
 'Haotong Li',
 'Henrik Stenson',
 'Hideki Matsuyama',
 'Ian Poulter',
 'Ian Woosnam',
 'J. B. Holmes',
 'J.B. Holmes',
 'Jason Day',
 'Jimmy Walker',
 'Jon Rahm',
 'Jordan Spieth',
 'Jose Maria Olazabal',
 'Jovan Rebula',
 'Jovan Rebula (A)',
 'Justin Harding',
 'Justin Rose',
 'Justin Thomas',
 'Keegan Bradley',
 'Keith Mitchell',
 'Kevin Kisner',
 'Kevin Na',
 "Kevin O'Connell",
 "Kevin O'Connell (A)",
 'Kevin Tway',
 'Kiradech Aphibarnrat',
 'Kyle Stanley',
 'Larry Mize',
 'Louis Oosthuizen',
 'Lucas Bjerregaard',
 'Marc Leishman',
 'Martin Kaymer',
 'Matt Kuchar',
 'Matt Wallace',
 'Matthew Fitzpatrick',
 'Michael Kim',
 'Mike Weir',
 'Patrick Cantlay',
 'Patrick Reed',
 'Patton Kizzire',
 'Paul Casey',
 'Phil Mickelson',
 'Rafa Cabrera-Bello',
 'Rafael Cabrera Bello',
 'Rickie Fowler',
 'Rory McIlroy',
 'Sandy Lyle',
 'Satoshi Kodaira',
 'Sergio Garcia',
 'Shane Lowry',
 'Shugo Imahira',
 'Si Woo Kim',
 'Stewart Cink',
 'Takumi Kanaya',
 'Takumi Kanaya (A)',
 'Thorbjorn Olesen',
 'Tiger Woods',
 'Tommy Fleetwood',
 'Tony Finau',
 'Trevor Immelman',
 'Tyrrell Hatton',
 'Vijay Singh',
 'Viktor Hovland',
 'Viktor Hovland (A)',
 'Webb Simpson',
 'Xander Schauffele',
 'Zach Johnson']

The issues:
There were 6 amateurs, one list noted this with (A), the other didn't

'J. B. Holmes'
'J.B. Holmes'

'Rafa Cabrera-Bello'
'Rafael Cabrera Bello'

In [130]:
## Replace the names that were different with a dict

names = {'J. B. Holmes':'J.B. Holmes', 'Rafael Cabrera Bello':'Rafa Cabrera-Bello', 'Alvaro Ortiz (A)':'Alvaro Ortiz', 
         'Devon Bling (A)':'Devon Bling', 'Jovan Rebula (A)':'Jovan Rebula', "Kevin O'Connell (A)": "Kevin O'Connell", 
         'Takumi Kanaya (A)':'Takumi Kanaya', 'Viktor Hovland (A)': 'Viktor Hovland'}

stats_df = stats_df.rename(index=names)

In [131]:
## Concatenate again after changing the names

masters_2019 = pd.concat([stats_df, final_2019], axis=1)

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [132]:
## Much better

masters_2019.shape

(87, 12)

In [133]:
masters_2019.head()

,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank,Player,Position,Score,Cut
Aaron Wise,66.07,47.0,305.00,16.0,68.06,22.0,1.60,22.0,Aaron Wise,17,-7,0
Adam Long,71.43,28.0,299.25,28.0,66.67,27.0,1.81,85.0,Adam Long,73,+5,1
Adam Scott,71.43,28.0,310.00,10.0,75.00,4.0,1.67,54.0,Adam Scott,T18,-6,0
Alex Noren,76.79,9.0,290.38,62.0,55.56,73.0,1.64,45.0,Alex Noren,T62,+8,0
Alvaro Ortiz,66.07,47.0,297.62,38.0,66.67,27.0,1.65,52.0,Alvaro Ortiz,T36,-2,0

In [138]:
## Need to drop the 'T' for tied positions in the 'Position' column

masters_2019['Position'] = masters_2019['Position'].apply(lambda x:str(x).strip('T'))

In [139]:
masters_2019.head(10)

,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank,Player,Position,Score,Cut
Aaron Wise,66.07,47.0,305.00,16.0,68.06,22.0,1.60,22.0,Aaron Wise,17,-7,0
Adam Long,71.43,28.0,299.25,28.0,66.67,27.0,1.81,85.0,Adam Long,73.0,+5,1
Adam Scott,71.43,28.0,310.00,10.0,75.00,4.0,1.67,54.0,Adam Scott,18,-6,0
Alex Noren,76.79,9.0,290.38,62.0,55.56,73.0,1.64,45.0,Alex Noren,62,+8,0
Alvaro Ortiz,66.07,47.0,297.62,38.0,66.67,27.0,1.65,52.0,Alvaro Ortiz,36,-2,0
Andrew Landry,80.36,6.0,287.12,75.0,65.28,38.0,1.58,17.0,Andrew Landry,46,E,0
Angel Cabrera,60.71,66.0,287.75,72.0,52.78,77.0,1.83,87.0,Angel Cabrera,86.0,+13,1
Bernhard Langer,76.79,9.0,272.50,82.0,63.89,43.0,1.64,45.0,Bernhard Langer,62,+8,0
Billy Horschel,62.50,59.0,288.88,68.0,55.56,73.0,1.60,22.0,Billy Horschel,56,+4,0
Branden Grace,62.50,59.0,300.62,23.0,65.28,38.0,1.71,67.0,Branden Grace,58,+5,0

In [140]:
## Drop the 'Player' column

masters_2019.drop('Player', axis=1, inplace=True)

In [141]:
masters_2019.head()

,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank,Position,Score,Cut
Aaron Wise,66.07,47.0,305.00,16.0,68.06,22.0,1.60,22.0,17,-7,0
Adam Long,71.43,28.0,299.25,28.0,66.67,27.0,1.81,85.0,73.0,+5,1
Adam Scott,71.43,28.0,310.00,10.0,75.00,4.0,1.67,54.0,18,-6,0
Alex Noren,76.79,9.0,290.38,62.0,55.56,73.0,1.64,45.0,62,+8,0
Alvaro Ortiz,66.07,47.0,297.62,38.0,66.67,27.0,1.65,52.0,36,-2,0

In [136]:
masters_2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87 entries, Aaron Wise to Zach Johnson
Data columns (total 12 columns):
FIR             87 non-null object
FIR Rank        87 non-null float64
dist            87 non-null object
dist Rank       87 non-null float64
GIR             87 non-null object
GIR Rank        87 non-null float64
Putting         87 non-null object
Putting Rank    87 non-null float64
Player          87 non-null object
Position        87 non-null object
Score           87 non-null object
Cut             87 non-null int64
dtypes: float64(4), int64(1), object(7)
memory usage: 8.8+ KB

In [142]:
masters_2019.columns

Index(['FIR', 'FIR Rank', 'dist', 'dist Rank', 'GIR', 'GIR Rank', 'Putting',
       'Putting Rank', 'Position', 'Score', 'Cut'],
      dtype='object')

In [143]:
## Rearrange the order of the columns

masters_2019 = masters_2019[['Position', 'Score', 'FIR', 'FIR Rank', 'dist', 'dist Rank', 'GIR', 'GIR Rank', 'Putting',
       'Putting Rank', 'Cut']]

In [144]:
masters_2019.head()

,Position,Score,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank,Cut
Aaron Wise,17,-7,66.07,47.0,305.00,16.0,68.06,22.0,1.60,22.0,0
Adam Long,73.0,+5,71.43,28.0,299.25,28.0,66.67,27.0,1.81,85.0,1
Adam Scott,18,-6,71.43,28.0,310.00,10.0,75.00,4.0,1.67,54.0,0
Alex Noren,62,+8,76.79,9.0,290.38,62.0,55.56,73.0,1.64,45.0,0
Alvaro Ortiz,36,-2,66.07,47.0,297.62,38.0,66.67,27.0,1.65,52.0,0

In [147]:
## If a player shot Even par, an 'E' is there for 'Score'
## Need to change to 0

masters_2019['Score'] = masters_2019['Score'].replace({'E':0})

In [148]:
## Change the type of the columns to numeric values to analyze later

cols = ['FIR', 'FIR Rank', 'dist', 'dist Rank', 'GIR', 'GIR Rank', 'Putting',
       'Putting Rank', 'Position', 'Score', 'Cut']

masters_2019[cols] = masters_2019[cols].apply(pd.to_numeric, axis=1)

In [149]:
masters_2019.head(10)

,Position,Score,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank,Cut
Aaron Wise,17.0,-7.0,66.07,47.0,305.00,16.0,68.06,22.0,1.60,22.0,0.0
Adam Long,73.0,5.0,71.43,28.0,299.25,28.0,66.67,27.0,1.81,85.0,1.0
Adam Scott,18.0,-6.0,71.43,28.0,310.00,10.0,75.00,4.0,1.67,54.0,0.0
Alex Noren,62.0,8.0,76.79,9.0,290.38,62.0,55.56,73.0,1.64,45.0,0.0
Alvaro Ortiz,36.0,-2.0,66.07,47.0,297.62,38.0,66.67,27.0,1.65,52.0,0.0
Andrew Landry,46.0,0.0,80.36,6.0,287.12,75.0,65.28,38.0,1.58,17.0,0.0
Angel Cabrera,86.0,13.0,60.71,66.0,287.75,72.0,52.78,77.0,1.83,87.0,1.0
Bernhard Langer,62.0,8.0,76.79,9.0,272.50,82.0,63.89,43.0,1.64,45.0,0.0
Billy Horschel,56.0,4.0,62.50,59.0,288.88,68.0,55.56,73.0,1.60,22.0,0.0
Branden Grace,58.0,5.0,62.50,59.0,300.62,23.0,65.28,38.0,1.71,67.0,0.0

In [150]:
masters_2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87 entries, Aaron Wise to Zach Johnson
Data columns (total 11 columns):
Position        87 non-null float64
Score           87 non-null float64
FIR             87 non-null float64
FIR Rank        87 non-null float64
dist            87 non-null float64
dist Rank       87 non-null float64
GIR             87 non-null float64
GIR Rank        87 non-null float64
Putting         87 non-null float64
Putting Rank    87 non-null float64
Cut             87 non-null float64
dtypes: float64(11)
memory usage: 8.2+ KB

In [153]:
masters_2019['Year'] = 2019

In [154]:
masters_2019.head(10)

,Position,Score,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank,Cut,Year
Aaron Wise,17.0,-7.0,66.07,47.0,305.00,16.0,68.06,22.0,1.60,22.0,0.0,2019
Adam Long,73.0,5.0,71.43,28.0,299.25,28.0,66.67,27.0,1.81,85.0,1.0,2019
Adam Scott,18.0,-6.0,71.43,28.0,310.00,10.0,75.00,4.0,1.67,54.0,0.0,2019
Alex Noren,62.0,8.0,76.79,9.0,290.38,62.0,55.56,73.0,1.64,45.0,0.0,2019
Alvaro Ortiz,36.0,-2.0,66.07,47.0,297.62,38.0,66.67,27.0,1.65,52.0,0.0,2019
Andrew Landry,46.0,0.0,80.36,6.0,287.12,75.0,65.28,38.0,1.58,17.0,0.0,2019
Angel Cabrera,86.0,13.0,60.71,66.0,287.75,72.0,52.78,77.0,1.83,87.0,1.0,2019
Bernhard Langer,62.0,8.0,76.79,9.0,272.50,82.0,63.89,43.0,1.64,45.0,0.0,2019
Billy Horschel,56.0,4.0,62.50,59.0,288.88,68.0,55.56,73.0,1.60,22.0,0.0,2019
Branden Grace,58.0,5.0,62.50,59.0,300.62,23.0,65.28,38.0,1.71,67.0,0.0,2019

In [155]:
## Looks great!

masters_2019.to_csv('2019_Masters.csv')

In [152]:
driver.close()