In [25]:
%cd /Users/genevieveberent/Desktop/Zak_Portfolio/PGA_Masters

/Users/genevieveberent/Desktop/Zak_Portfolio/PGA_Masters

In [26]:
import pandas as pd

In [36]:
masters_2014 = pd.read_csv('Masters_2014.csv', index_col='Unnamed: 0')
masters_2015 = pd.read_csv('Masters_2015.csv', index_col='Unnamed: 0')
masters_2016 = pd.read_csv('2016_Masters.csv', index_col='Unnamed: 0')
masters_2017 = pd.read_csv('Masters_2017.csv', index_col='Unnamed: 0')
masters_2018 = pd.read_csv('Masters_2018.csv', index_col='Unnamed: 0')
masters_2019 = pd.read_csv('2019_Masters.csv', index_col='Unnamed: 0')

In [37]:
masters = pd.concat([masters_2014, masters_2015, masters_2016, masters_2017, masters_2018, masters_2019])

/Users/genevieveberent/Desktop/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [38]:
masters.shape

(550, 12)

In [39]:
masters.head()

,Cut,FIR,FIR Rank,GIR,GIR Rank,Position,Putting,Putting Rank,Score,Year,dist,dist Rank
A. Scott,0.0,58.93,82.0,66.67,11.0,14.0,1.69,60.0,1.0,2014,298.38,6.0
B. Crenshaw,1.0,67.86,44.0,25.00,97.0,97.0,1.67,44.0,24.0,2014,238.50,97.0
B. Grace,1.0,53.57,93.0,44.44,89.0,80.0,1.61,22.0,9.0,2014,280.75,73.0
B. Haas,0.0,67.86,44.0,65.28,14.0,20.0,1.68,54.0,2.0,2014,286.62,50.0
B. Horschel,0.0,66.07,57.0,72.22,2.0,37.0,1.82,88.0,7.0,2014,290.12,33.0

In [40]:
masters.columns

Index(['Cut', 'FIR', 'FIR Rank', 'GIR', 'GIR Rank', 'Position', 'Putting',
       'Putting Rank', 'Score', 'Year', 'dist', 'dist Rank'],
      dtype='object')

In [41]:
masters = masters[['Position', 'Score', 'FIR', 'FIR Rank', 'dist', 'dist Rank', 
                   'GIR', 'GIR Rank', 'Putting', 'Putting Rank', 'Year', 'Cut']]

In [42]:
masters.head()

,Position,Score,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank,Year,Cut
A. Scott,14.0,1.0,58.93,82.0,298.38,6.0,66.67,11.0,1.69,60.0,2014,0.0
B. Crenshaw,97.0,24.0,67.86,44.0,238.50,97.0,25.00,97.0,1.67,44.0,2014,1.0
B. Grace,80.0,9.0,53.57,93.0,280.75,73.0,44.44,89.0,1.61,22.0,2014,1.0
B. Haas,20.0,2.0,67.86,44.0,286.62,50.0,65.28,14.0,1.68,54.0,2014,0.0
B. Horschel,37.0,7.0,66.07,57.0,290.12,33.0,72.22,2.0,1.82,88.0,2014,0.0

In [43]:
masters.shape

(550, 12)

In [44]:
masters[['Position', 'Score', 'FIR Rank', 'dist Rank', 'GIR Rank', 'Putting Rank', 'Year', 'Cut']] = masters[['Position', 'Score', 'FIR Rank', 'dist Rank', 'GIR Rank', 'Putting Rank', 'Year', 'Cut']].astype(int)

In [45]:
masters.head()

,Position,Score,FIR,FIR Rank,dist,dist Rank,GIR,GIR Rank,Putting,Putting Rank,Year,Cut
A. Scott,14,1,58.93,82,298.38,6,66.67,11,1.69,60,2014,0
B. Crenshaw,97,24,67.86,44,238.50,97,25.00,97,1.67,44,2014,1
B. Grace,80,9,53.57,93,280.75,73,44.44,89,1.61,22,2014,1
B. Haas,20,2,67.86,44,286.62,50,65.28,14,1.68,54,2014,0
B. Horschel,37,7,66.07,57,290.12,33,72.22,2,1.82,88,2014,0

In [46]:
masters.to_csv('Masters.csv')